@use '../function/index' as *;

html{
    font-family:  var(--OldSt), var(--notoSerifJP);
    font-weight: 400;
    font-style: normal;
    font-size: vwmin(16, pc);
    @include underSP {
        font-size: vwmin(16, sp);
    }
}