@use '../../foundation/function/index' as *;

.bl_commonAllviewBtnWrapper {

    .bl_commonAllviewBtn {
        display: grid;
        grid-template-columns: auto vwmin(40, pc);
        align-items: center;
        justify-content: center;
        gap: vwmin(20, pc);
        transition: opacity 0.5s ease;

        @include underSP {
            grid-template-columns: auto vwmin(30, sp_m);
            gap: vwmin(20, sp_m);
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: .7;
                transition: opacity 0.5s ease;
            }
        }

        .el_commonAllviewBtn_txt {
            color: var(--txtColor);
            font-family: var(--OldSt);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);
            margin-block: var(--leading-trim);
            padding-top: vwmin(5, pc);

            @include underSP {
                font-size: vwmin(18, sp_m);
                padding-top: vwmin(5, sp_m);
            }
        }

        .el_commonAllviewBtn_arrow {
            display: grid;
            grid-template-columns: vwmin(18, pc);
            align-items: center;
            justify-content: center;
            background-color: #402D10;
            border-radius: 100%;
            aspect-ratio: 1 / 1;

            @include underSP {
                grid-template-columns: vwmin(16, sp_m);
            }

            img {
                width: 100%;
                display: block;
            }
        }
    }
}


/*--------------------------------
ドクター
--------------------------------*/

.bl_topDoctorSection {
    background-color: #E5D8CD;
    padding-block: vwmin(120, pc);
    padding-inline: vwmin(40, pc);

    @include underSP {
        padding-block: vwmin(100, sp_m);
        padding-inline: vwmin(30, sp_m);
    }

    .bl_topDoctorSection_inner {

        .blcommonSectionTtlWrapper {
            @include underSP {
                margin-bottom: vwmin(50, sp_m);
            }
        }
    }

    .blcommonSectionTtlWrapper {
        margin-bottom: vwmin(50, pc);
    }

    .bl_doctorContentsWrapper {
        max-width: vwmin(1017, pc);
        width: 100%;
        margin-inline: auto;
        display: grid;
        align-items: flex-start;
        grid-template-columns: vwmin(323, pc) 1fr;
        gap: vwmin(94, pc);

        @include underSP {
            max-width: 100%;
            grid-template-columns: 1fr;
            gap: vwmin(30, sp_m);
        }

        .bl_doctorContentsWrapper_imgWrapper {
            @include underSP {
                max-width: vwmin(300, sp_m);
                margin-inline: auto;
            }
        }

        .bl_doctorContentsWrapper_txtWrapper {

            .bl_doctorContentsWrapper_nameWrapper {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);
                padding-bottom: vwmin(10, pc);
                border-bottom: 1px solid #987F65;
                margin-bottom: vwmin(30, pc);

                @include underSP {
                    padding-bottom: vwmin(10, sp_m);
                    border-bottom: 1px solid #987F65;
                    margin-bottom: vwmin(30, sp_m);
                    font-size: vwmin(14, sp_m);
                }
            }

            .bl_doctorContentsWrapper_nameWrapper_name {
                display: grid;
                grid-template-columns: max-content max-content;
                align-items: flex-end;
                gap: vwmin(20, pc);


                @include underSP {
                    gap: vwmin(20, sp_m);
                }

                .el_doctorContentsWrapper_nameWrapper_job {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.7 / 14 * 1em);

                    @include underSP {
                        font-size: vwmin(14, sp_m);
                    }
                }

                .el_doctorContentsWrapper_nameWrapper_name_first {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(24, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(1.2 / 24 * 1em);
                    width: fit-content;

                    @include underSP {
                        font-size: vwmin(24, sp_m);
                    }
                }

                .el_doctorContentsWrapper_nameWrapper_name_last {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.7 / 14 * 1em);
                    width: fit-content;

                    @include underSP {
                        font-size: vwmin(14, sp_m);
                    }
                }
            }


            .bl_doctorContentsWrapper_txtWrapper_txt {
                display: flex;
                flex-direction: column;
                gap: vwmin(20, pc);
                color: var(--black, #1A0F04);
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(0.8 / 16 * 1em);

                @include underSP {
                    gap: vwmin(20, sp_m);
                    font-size: vwmin(16, sp_m);
                }
            }
        }
    }
}


.bl_reserveBtn {
    width: fit-content;
    display: grid;
    grid-template-columns: vwmin(18, pc) auto;
    align-items: center;
    justify-content: center;
    gap: vwmin(10, pc);
    max-width: vwmin(240, pc);
    width: 100%;
    background-color: #FFF;
    padding-block: vwmin(17, pc);
    padding-inline: vwmin(20, pc);
    border-radius: vwmin(100, pc);
    transition: all 0.5s ease;

    @include underSP {
        max-width: 100%;
        grid-template-columns: vwmin(18, sp_m) auto;
        padding-block: vwmin(22, sp_m);
        padding-inline: vwmin(20, sp_m);
        border-radius: vwmin(100, sp_m);
        gap: vwmin(10, sp_m);
    }


    .el_reserveBtn_txt {
        width: fit-content;
        color: #402D10;
        font-family: var(--notoSerifJP);
        font-size: vwmin(20, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(1 / 20 * 1em);
        transition: color 0.5s ease;

        @include underSP {
            font-size: vwmin(20, sp_m);
        }
    }

    .bl_reserveBtn_iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1 / 1;

        .el_reserveBtn_icon {
            width: 100%;
            height: 100%;
            object-fit: contain;

            path {
                fill: #402D10;
                transition: fill 0.5s ease;
            }
        }
    }


    @media (any-hover: hover) {
        &:hover {
            background-color: #402D10;
            transition: background-color 0.5s ease;

            .el_reserveBtn_txt {
                color: #FFF;
                transition: color 0.5s ease;
            }

            .bl_reserveBtn_iconWrapper {

                .el_reserveBtn_icon {

                    path {
                        fill: #FFF;
                        transition: fill 0.5s ease;
                    }
                }
            }
        }
    }
}


.bl_reserveBtn_brown {
    background-color: #402D10;

    .el_reserveBtn_txt {
        color: #FFF;
    }

    .bl_reserveBtn_iconWrapper {
        .el_reserveBtn_icon {
            path {
                fill: #FFF;
            }
        }
    }


    @media (any-hover: hover) {
        &:hover {
            background-color: #FFF;
            transition: background-color 0.5s ease;

            .el_reserveBtn_txt {
                color: #402D10;
                transition: color 0.5s ease;
            }

            .bl_reserveBtn_iconWrapper {
                .el_reserveBtn_icon {
                    path {
                        fill: #402D10;
                        transition: fill 0.5s ease;
                    }
                }
            }
        }
    }

}




.bl_commonSnsIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vwmin(14, pc);

    @include underSP {
        gap: vwmin(10, sp_m);
    }

    .bl_commonSnsIconContainer_btn {
        max-width: vwmin(40, pc);
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
        border-radius: vwmin(4, pc);
        background-color: #FFF;
        display: grid;
        grid-template-columns: vwmin(22, pc);
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease;

        @include underSP {
            max-width: vwmin(40, sp_m);
            border-radius: vwmin(4, sp_m);
            grid-template-columns: vwmin(22, sp_m);
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
                transition: opacity 0.5s ease;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}




.bl_caseItem {

    .bl_caseItem_linkWrapper {

        .bl_caseItem_imgWrapper {
            width: 100%;
            height: auto;
            aspect-ratio: 258/322;
            overflow: hidden;
            margin-bottom: vwmin(20, pc);

            @include underSP {
                margin-bottom: vwmin(22, sp_m);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .bl_caseItem_txtWrapper {
        display: flex;
        flex-direction: column;
        gap: vwmin(4, pc);
        margin-bottom: vwmin(10, pc);

        @include underSP {
            gap: vwmin(8, sp_m);
            margin-bottom: vwmin(10, sp_m);
        }

        .bl_caseItem_treatmentsWrapper {
            display: flex;
            flex-wrap: wrap;
            gap: vwmin(10, pc);

            @include underSP {
                gap: vwmin(10, sp_m);
            }

            .bl_caseItem_treatmentsWrapper_txt {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(12, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.6 / 12 * 1em);
                padding: vwmin(4, pc);
                border-radius: vwmin(4, pc);
                border: 1px solid var(--line, #987F65);

                @include underSP {
                    font-size: vwmin(12, sp_m);
                    padding: vwmin(4, sp_m);
                    border-radius: vwmin(4, sp_m);
                    border: 1px solid var(--line, #987F65);
                }
            }
        }

        .el_caseItem_ttl {
            color: var(--txtColor);
            font-family: var(--notoSerifJP);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);

            @include underSP {
                font-size: vwmin(18, sp_m);
            }
        }
    }


    .bl_caseItem_details {
        background-color: #F4EEEA;
        border-radius: vwmin(2, pc);
        overflow: hidden;

        @include underSP {
            border-radius: vwmin(2, sp_m);
        }

        .bl_caseItem_details_summary {
            display: grid;
            grid-template-columns: 1fr vwmin(20, pc);
            align-items: center;
            gap: vwmin(10, pc);
            cursor: pointer;
            padding-inline: vwmin(12, pc);
            padding-block: vwmin(10, pc);

            @include underSP {
                grid-template-columns: 1fr vwmin(20, sp_m);
                gap: vwmin(10, sp_m);
                padding-inline: vwmin(12, sp_m);
                padding-block: vwmin(10, sp_m);
            }

            .bl_caseItem_details_summary_txt {
                display: block;
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }

            .bl_caseItem_details_summary_icon {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: #fff;
                position: relative;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: vwmin(5, pc);
                    height: vwmin(1, pc);
                    background-color: var(--txtColor);
                    border-radius: vwmin(1, pc);
                    transition: transform 0.4s ease;

                    @include underSP {
                        width: vwmin(5, sp_m);
                        height: vwmin(1, sp_m);
                        border-radius: vwmin(1, sp_m);
                    }
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }

    .is-opened {
        .bl_caseItem_details_summary {
            .bl_caseItem_details_summary_icon {
                &::after {
                    transition: transform 0.4s ease;
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }
    }


    .bl_caseItem_details_content {
        overflow: hidden;
        height: 0;


        .bl_caseItem_details_content_inner {
            padding: vwmin(20, pc);
            display: flex;
            flex-direction: column;
            gap: vwmin(20, pc);

            @include underSP {
                padding: vwmin(20, sp_m);
                gap: vwmin(20, sp_m);
            }

            .bl_caseItem_details_content_item_dt {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.7 / 14 * 1em);
                border-bottom: 1px solid #987F65;
                padding-block: vwmin(6, pc);
                padding-inline: vwmin(4, pc);
                margin-bottom: vwmin(10, pc);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                    padding-block: vwmin(6, sp_m);
                    padding-inline: vwmin(4, sp_m);
                    margin-bottom: vwmin(10, sp_m);
                }
            }

            .bl_caseItem_details_content_item_dd {
                color: var(--black, #1A0F04);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.7 / 14 * 1em);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }
        }
    }
}


/*--------------------------------
下層
--------------------------------*/

.bl_commonLowPagebg {
    background-color: rgb(229, 216, 205);
}

.bl_commonLowPageWrapper {

    .bl_commonLowPageWrapper_ttlContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding-top: vwmin(222, pc);
        padding-bottom: vwmin(170, pc);
        padding-inline: vwmin(160, pc);
        z-index: -1;

        @include underSP {
            padding-top: vwmin(143, sp_m);
            padding-bottom: vwmin(60, sp_m);
            padding-inline: vwmin(30, sp_m);
        }

        .bl_commonLowPageWrapper_ttl {
            display: flex;
            flex-direction: column;
            gap: vwmin(20, pc);
            width: fit-content;

            @include underSP {
                gap: vwmin(20, sp_m);
            }

            .el_commonLowPageWrapper_ttl_en {
                color: var(--black, #1A0F04);
                font-family: var(--OldSt);
                font-size: vwmin(60, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(1.2 / 60 * 1em);

                @include underSP {
                    font-size: vwmin(46, sp_m);
                }
            }

            .el_commonLowPageWrapper_ttl_ja {
                display: grid;
                grid-template-columns: vwmin(6, pc) auto;
                align-items: center;
                gap: vwmin(10, pc);
                color: #987F65;
                font-family: var(--notoSerifJP);
                font-size: vwmin(18, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.9 / 18 * 1em);

                @include underSP {
                    font-size: vwmin(16, sp_m);
                    grid-template-columns: vwmin(6, sp_m) auto;
                }

                &::before {
                    content: '';
                    position: relative;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    background-color: #987F65;
                    border-radius: 100%;
                }
            }

        }
    }

    .bl_commonLowPageWrapper_contentsOuter {
        position: relative;
        overflow: hidden;
        margin-top: vwmin(475, pc);
        padding-top: vwmin(10, pc);

        @include underSP {
            margin-top: vwmin(272, sp_m);
            padding-top: vwmin(10, sp_m);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            border-radius: vwmin(40, pc) vwmin(40, pc) 0 0;
            padding-top: vwmin(10, pc);
            padding-inline: vwmin(10, pc);
            border-top: 1px solid #F4EEEA;
            border-inline: 1px solid #F4EEEA;
            width: 100%;
            z-index: -1;

            @include underSP {
                border-radius: vwmin(40, sp_m) vwmin(40, sp_m) 0 0;
                padding-top: vwmin(10, sp_m);
                padding-inline: vwmin(10, sp_m);
            }
        }

        .bl_commonLowPageWrapper_contents {
            background-color: #F4EEEA;
            padding-bottom: calc(vwmin(40, pc) + vwmin(18, pc));
            border-radius: vwmin(30, pc) vwmin(30, pc) 0 0;
            padding-top: vwmin(160, pc);

            @include underSP {
                padding-bottom: calc(vwmin(40, sp_m) + vwmin(18, sp_m));
                border-radius: vwmin(30, sp_m) vwmin(30, sp_m) 0 0;
            }
        }
    }
}


/*--------------------------------
パンくずリスト
--------------------------------*/
.bl_commonBreadcrumbsContainer {
    padding-inline: vwmin(60, pc);
    overflow-x: auto;

    @include underSP {
        padding-inline: vwmin(30, sp_m);
    }

    .bl_commonBreadcrumbsList {
        display: flex;
        align-items: center;
        gap: vwmin(18, pc);

        @include underSP {
            gap: vwmin(18, sp_m);
        }

        .bl_commonBreadcrumbsItem {

            .bl_commonBreadcrumbsLink {
                display: block;
                color: #1A0F04;
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);
                transition: opacity 0.5s ease;
                white-space: nowrap;
                word-break: keep-all;

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }


                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }
            }

            .bl_commonBreadcrumbsText {
                color: rgba(26, 15, 4, 0.50);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);
                white-space: nowrap;
                word-break: keep-all;

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }
        }


        .bl_commonBreadcrumbsSeparator {
            width: vwmin(10, pc);

            @include underSP {
                width: vwmin(10, sp_m);
            }

            img {
                display: block;
                width: 100%;
            }
        }
    }
}



/*--------------------------------
2カラムレイアウト
--------------------------------*/

.ly_commonTwoColumnWrapper {
    padding-bottom: vwmin(200, pc);

    @include underSP {
        padding-bottom: vwmin(100, sp_m);
        padding-inline: vwmin(30, sp_m);
    }

    .ly_commonTwoColumnWrapper_inner {
        display: grid;
        grid-template-columns: vwmin(244, pc) 1fr;
        gap: vwmin(80, pc);

        @include underSP {
            grid-template-columns: 1fr;
            gap: vwmin(80, sp_m);
        }
    }
}


.bl_commonSelectNaviWrapper {
    display: flex;
    flex-direction: column;
    gap: vwmin(20, pc);

    @include underSP {
        gap: vwmin(20, sp_m);
    }

    .bl_commonSelectNaviWrapper_item {

        .bl_commonSelectNaviWrapper_item_label {
            display: block;
            color: var(--txtColor);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(0.8 / 16 * 1em);
            margin-bottom: vwmin(10, pc);

            @include underSP {
                font-size: vwmin(16, sp_m);
                margin-bottom: vwmin(10, sp_m);
            }
        }

        .bl_commonSelectNaviWrapper_selectWrapper {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: vwmin(16, pc);
                transform: translateY(-50%);
                width: vwmin(7, pc);
                height: vwmin(12, pc);
                background-image: url('../img/common/select-arrow.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @include underSP {
                    right: vwmin(16, sp_m);
                    width: vwmin(7, sp_m);
                    height: vwmin(12, sp_m);
                }
            }


            .bl_commonSelectNaviWrapper_item_select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                cursor: pointer;
                display: block;
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 500;
                line-height: 1;
                letter-spacing: calc(0.7 / 14 * 1em);
                background-color: #E5D8CD;
                padding: vwmin(16, pc);
                border: none;
                width: 100%;

                @include underSP {
                    font-size: vwmin(14, sp_m);
                    padding: vwmin(16, sp_m);
                }
            }
        }
    }
}