@use '../../foundation/function/index' as *;

.bl_commonAllviewBtnWrapper {

    .bl_commonAllviewBtn {
        display: grid;
        grid-template-columns: auto vwmin(40, pc);
        align-items: center;
        justify-content: center;
        gap: vwmin(20, pc);
        transition: opacity 0.5s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: .7;
                transition: opacity 0.5s ease;
            }
        }

        .el_commonAllviewBtn_txt {
            color: var(--txtColor);
            font-family: var(--notoSerifJP);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);
        }

        .el_commonAllviewBtn_arrow {
            display: grid;
            grid-template-columns: vwmin(18, pc);
            align-items: center;
            justify-content: center;
            background-color: #402D10;
            border-radius: 100%;
            aspect-ratio: 1 / 1;
        }
    }
}

.is_txten {

    .el_commonAllviewBtn_txt {
        color: var(--txtColor);
        font-family: var(--OldSt);
        font-size: vwmin(18, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(0.9 / 18 * 1em);
    }
}



/*--------------------------------
ドクター
--------------------------------*/

.bl_topDoctorSection {
    background-color: #E5D8CD;
    padding-block: vwmin(120, pc);
    padding-inline: vwmin(40, pc);

    .blcommonSectionTtlWrapper {
        margin-bottom: vwmin(50, pc);
    }

    .bl_doctorContentsWrapper {
        max-width: vwmin(1017, pc);
        width: 100%;
        margin-inline: auto;
        display: grid;
        align-items: flex-start;
        grid-template-columns: vwmin(323, pc) 1fr;
        gap: vwmin(94, pc);


        .bl_doctorContentsWrapper_txtWrapper {

            .bl_doctorContentsWrapper_nameWrapper {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);
                padding-bottom: vwmin(10, pc);
                border-bottom: 1px solid #987F65;
                margin-bottom: vwmin(30, pc);
            }

            .bl_doctorContentsWrapper_nameWrapper_name {
                display: grid;
                grid-template-columns: max-content max-content;
                align-items: flex-end;
                gap: vwmin(20, pc);

                .el_doctorContentsWrapper_nameWrapper_job {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.7 / 14 * 1em);
                }

                .el_doctorContentsWrapper_nameWrapper_name_first {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(24, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(1.2 / 24 * 1em);
                    width: fit-content;
                }

                .el_doctorContentsWrapper_nameWrapper_name_last {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.7 / 14 * 1em);
                    width: fit-content;

                }
            }


            .bl_doctorContentsWrapper_txtWrapper_txt {
                display: flex;
                flex-direction: column;
                gap: vwmin(20, pc);
                color: var(--black, #1A0F04);
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(0.8 / 16 * 1em);
            }
        }
    }


}