@use '../../foundation/function/index' as *;



//カード
.bl_caseItem {

    .bl_caseItem_linkWrapper {
        transition: opacity 0.5s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
                transition: opacity 0.5s ease;
            }
        }

        .bl_caseItem_imgWrapper {
            width: 100%;
            height: auto;
            aspect-ratio: 258/322;
            overflow: hidden;
            margin-bottom: vwmin(20, pc);

            @include underSP {
                margin-bottom: vwmin(22, sp_m);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .bl_caseItem_txtWrapper {
        display: flex;
        flex-direction: column;
        gap: vwmin(4, pc);
        margin-bottom: vwmin(10, pc);

        @include underSP {
            gap: vwmin(8, sp_m);
            margin-bottom: vwmin(10, sp_m);
        }

        .bl_caseItem_treatmentsWrapper {
            display: flex;
            flex-wrap: wrap;
            gap: vwmin(10, pc);

            @include underSP {
                gap: vwmin(10, sp_m);
            }

            .bl_caseItem_treatmentsWrapper_txt {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(12, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.6 / 12 * 1em);
                padding: vwmin(4, pc);
                border-radius: vwmin(4, pc);
                border: 1px solid var(--line, #987F65);

                @include underSP {
                    font-size: vwmin(12, sp_m);
                    padding: vwmin(4, sp_m);
                    border-radius: vwmin(4, sp_m);
                    border: 1px solid var(--line, #987F65);
                }
            }
        }

        .el_caseItem_ttl {
            color: var(--txtColor);
            font-family: var(--notoSerifJP);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);

            @include underSP {
                font-size: vwmin(18, sp_m);
            }
        }
    }


    .bl_caseItem_details {
        background-color: #F4EEEA;
        border-radius: vwmin(2, pc);
        overflow: hidden;

        @include underSP {
            border-radius: vwmin(2, sp_m);
        }

        .bl_caseItem_details_summary {
            display: grid;
            grid-template-columns: 1fr vwmin(20, pc);
            align-items: center;
            gap: vwmin(10, pc);
            cursor: pointer;
            padding-inline: vwmin(12, pc);
            padding-block: vwmin(10, pc);

            @include underSP {
                grid-template-columns: 1fr vwmin(20, sp_m);
                gap: vwmin(10, sp_m);
                padding-inline: vwmin(12, sp_m);
                padding-block: vwmin(10, sp_m);
            }

            .bl_caseItem_details_summary_txt {
                display: block;
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.7 / 14 * 1em);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }

            .bl_caseItem_details_summary_icon {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-color: #fff;
                position: relative;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: vwmin(8, pc);
                    height: 1px;
                    background-color: var(--txtColor);
                    border-radius: vwmin(1, pc);
                    transition: transform 0.4s ease;

                    @include underSP {
                        width: vwmin(8, sp_m);
                        height: 1px;
                        border-radius: vwmin(1, sp_m);
                    }
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }
    }

    .is-opened {
        .bl_caseItem_details_summary {
            .bl_caseItem_details_summary_icon {
                &::after {
                    transition: transform 0.4s ease;
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }
    }


    .bl_caseItem_details_content {
        overflow: hidden;
        height: 0;


        .bl_caseItem_details_content_inner {
            padding: vwmin(20, pc);
            display: flex;
            flex-direction: column;
            gap: vwmin(20, pc);

            @include underSP {
                padding: vwmin(20, sp_m);
                gap: vwmin(20, sp_m);
            }

            .bl_caseItem_details_content_item_dt {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.7 / 14 * 1em);
                border-bottom: 1px solid #987F65;
                padding-block: vwmin(6, pc);
                padding-inline: vwmin(4, pc);
                margin-bottom: vwmin(10, pc);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                    padding-block: vwmin(6, sp_m);
                    padding-inline: vwmin(4, sp_m);
                    margin-bottom: vwmin(10, sp_m);
                }
            }

            .bl_caseItem_details_content_item_dd {
                color: var(--black, #1A0F04);
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.7 / 14 * 1em);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }
        }
    }
}




/*--------------------------------
一覧ページ
--------------------------------*/
.ly_caseColumnWrapper_inner {
    max-width: vwmin(1120, pc);
    margin-inline: auto;
    width: 100%;

    @include underSP {
        max-width: 100%;
    }
}

.bl_casePostList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vwmin(40, pc);

    @include underSP {
        grid-template-columns: repeat(2, 1fr);
        gap: vwmin(40, sp_m);
    }

    @include underSP_s {
        grid-template-columns: repeat(1, 1fr);
    }

    .bl_caseItem {
        .bl_caseItem_details {
            background-color: #E5D8CD;
        }
    }
}



/*--------------------------------
症例詳細ページ
--------------------------------*/
.bl_caseMainSection {
    padding-bottom: vwmin(200, pc);

    width: 100%;

    @include underSP {
        max-width: 100%;
        padding-bottom: vwmin(180, sp_m);
        padding-inline: vwmin(30, sp_m);
    }

    .bl_caseMainSection_inner {
        max-width: vwmin(1120, pc);
        margin-inline: auto;

        @include underSP {
            max-width: 100%;
        }
    }
}


.bl_caseArticleWrapper {
    display: grid;
    grid-template-columns: vwmin(472, pc) 1fr;
    gap: vwmin(80, pc);
    padding-block: vwmin(100, pc);


    @include underSP {
        grid-template-columns: 1fr;
        gap: vwmin(40, sp_m);
        padding-top: vwmin(50, sp_m);
        padding-bottom: vwmin(100, sp_m);
    }

    .bl_caseLeftWrapper {
        height: 100%;

        .bl_caseImgSlieWrapper {
            position: sticky;
            top: vwmin(100, pc);

            @include underSP {
                position: relative;
                top: 0;
            }

            .bl_caseMaiSlidenWrapper {
                display: grid;
                grid-template-columns: vwmin(46, pc) 1fr vwmin(46, pc);
                align-items: center;
                gap: vwmin(20, pc);
                margin-bottom: vwmin(30, pc);

                @include underSP {
                    grid-template-columns: vwmin(40, sp_m) 1fr vwmin(40, sp_m);
                    gap: vwmin(20, sp_m);
                    margin-bottom: vwmin(30, sp_m);
                }

                .bl_caseImgSlide {

                    .bl_caseImgSlide_item {

                        img {
                            padding: vwmin(10, pc);
                            border-radius: vwmin(4, pc);
                            border: 1px solid #987F65;
                            aspect-ratio: 318/398;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;

                            @include underSP {
                                padding: vwmin(10, sp_m);
                                border-radius: vwmin(4, sp_m);
                                border: 1px solid #987F65;
                            }
                        }

                        .el_caseImgSlide_item_caption {
                            color: var(--txtColor);
                            font-family: var(--notoSerifJP);
                            font-size: vwmin(14, pc);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.2;
                            letter-spacing: calc(0.7 / 14 * 1em);
                            margin-top: vwmin(10, pc);

                            @include underSP {
                                font-size: vwmin(14, sp_m);
                            }
                        }
                    }
                }

                .el_caseImgSlideNaviWrapper_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 1px solid #987F65;
                    width: vwmin(46, pc);
                    aspect-ratio: 1/1;
                    padding: vwmin(10, pc);
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    width: 100%;

                    svg {
                        display: block;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: #987F65;
                            transition: background-color 0.3s ease;
                            border-color: #fff;

                            svg {
                                path {
                                    stroke: #fff;
                                    transition: stroke 0.3s ease;
                                }
                            }
                        }
                    }
                }
            }

            .bl_caseThumbnailSlide {
                max-width: calc(100% - vwmin(120, pc));
                margin-inline: auto;
                width: 100%;

                @include underSP {
                    max-width: 100%;
                    padding-inline: vwmin(60, sp_m);
                }

                .splide__slide {
                    transform: scale(1);
                    border: none;
                    width: fit-content !important;
                }

                .bl_caseThumbnailSlide_item {
                    aspect-ratio: 318/398;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    transform: scale(1);
                    max-width: vwmin(100, pc);

                    @include underSP {
                        max-width: vwmin(100, sp_m);
                    }
                }

                .is-active {
                    border: none;
                    transform: scale(1);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #987F65;
                        opacity: .7;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.bl_relatedCaseSection {
    background-color: #E5D8CD;
    padding: vwmin(40, pc);
    border-radius: vwmin(4, pc);

    @include underSP {
        padding: vwmin(40, sp_m);
        border-radius: vwmin(2, sp_m);
    }


    .el_relatedCaseSection_ttl {
        color: #1A0F04;
        font-family: var(--notoSerifJP);
        font-size: vwmin(24, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: calc(1.2 / 24 * 1em);
        margin-bottom: vwmin(40, pc);
        max-width: vwmin(230, pc);
        margin-inline: auto;
        padding-block: vwmin(10, pc);
        border-bottom: 1px solid #987F65;
        border-top: 1px solid #987F65;
        text-align: center;

        @include underSP {
            font-size: vwmin(24, sp_m);
            margin-bottom: vwmin(30, sp_m);
            max-width: vwmin(230, sp_m);
        }
    }

    .bl_relatedCaseSection_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: vwmin(40, pc);

        @include underSP {
            grid-template-columns: repeat(1, 1fr);
            gap: vwmin(50, sp_m);
        }

        @include underSP_s {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.bl_caseRightWrapper {

    .bl_caseTableWrapper {
        margin-top: vwmin(40, pc);

        @include underSP {
            margin-top: vwmin(40, sp_m);
        }

        .bl_caseTable {
            width: 100%;
            border-radius: vwmin(4, pc);
            overflow: hidden;

            @include underSP {
                border-radius: vwmin(4, sp_m);
            }

            tr {
                display: grid;
                grid-template-columns: .38fr .7fr;
                border-top: 1px solid rgba(152, 127, 101, 0.40);

                &:first-child {
                    border-top: none;
                }


                th {
                    padding: vwmin(16, pc);
                    background-color: #E5D8CD;
                    color: var(--txtColor);
                    font-feature-settings: 'palt' on;
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.2;
                    text-align: left;
                    letter-spacing: calc(0.8 / 16 * 1em);

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                        padding: vwmin(16, sp_m);
                    }
                }

                td {
                    padding: vwmin(16, pc);
                    background-color: #fff;
                    color: var(--txtColor);
                    font-feature-settings: 'palt' on;
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                    text-align: left;
                    letter-spacing: calc(0.8 / 16 * 1em);

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                        padding: vwmin(16, sp_m);
                    }
                }
            }
        }

    }
}