@use '../../foundation/function/index' as *;
/* ===================================
case
=================================== */
/* archive
============================== */
.ly_2col.un_case {
    padding: 0 vwmin(20, pc);
    margin: vwmin(160, pc) auto 0;
    box-sizing: content-box;
    max-width: vwmin(1120, pc);
    display: flex;
    justify-content: space-between;
    @include underTB {
        max-width: none;
        flex-direction: column-reverse;
        margin: vwmin(100, tb) auto 0;
        padding: 0 vwmin(16, tb);
    }
    @include underSP {
        margin: 8rem auto 0;
        padding: 0 vwmin(16, sp);
    }
}
.el_casePosts{
    width: calc(100% - vwmin(80, pc));
    max-width: vwmin(790, pc);
    @include underTB {
        width: 100%;
        max-width: none;
    }
}
.el_caseList {
    display: flex;
    flex-wrap: wrap;
    gap: vwmin(36, pc) vwmin(40, pc);
    @include underTB {
        gap: vwmin(36, tb) vwmin(40, tb);
    }
    @include underSP {
        gap: vwmin(36, sp) vwmin(40, sp);
    }
    &_item{
        width: calc((100% - vwmin(80, pc))/3);
        @include underTB {
            width: calc((100% - vwmin(40, tb))/2);
        }
        @include underSP {
            width: calc((100% - vwmin(40, sp))/2);
        }
    }
    a{
        display: block;
        @media (hover: hover) {
            .el_caseList_thmb{
                img{
                    transition: 0.5s;
                }
            }
            &:hover{
                .el_caseList_thmb{
                    img{
                        scale: 1.1;
                    }
                }
            }
        }
    }
    &_thmb {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: vwmin(8, pc);
        @include underTB {
            border-radius: vwmin(8, tb);
        }
        @include underSP {
            border-radius: vwmin(8, sp);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_ttl{
        margin: vwmin(8, pc) vwmin(10, pc);
        @include underTB {
            margin: vwmin(8, tb) vwmin(10, tb);
        }
        @include underSP {
            margin: vwmin(8, sp) vwmin(10, sp);
        }
    }
    &_theme{
        display: flex;
        gap: vwmin(80, pc);
        flex-wrap: wrap;
        margin-top: vwmin(14, pc);
        @include underTB {
            margin-top: vwmin(14, tb);
        }
        @include underSP {
            margin-top: vwmin(14, sp);
        }
        > a,
        > span{
            padding: vwmin(4, pc);
            border: 1px solid var(--border-thin);
            border-radius: vwmin(4, pc);
            font-size: vwmin(14, pc);
            font-weight: 400;
            line-height: 1.6;
            @include underTB {
                font-size: vwmin(14, tb);
            }
            @include underSP {
                font-size: vwmin(14, sp);
            }
            > span{
                font-size: vwmin(14, pc);
                font-weight: 400;
                line-height: 1.6;
                @include underTB {
                    font-size: vwmin(14, tb);
                }
                @include underSP {
                    font-size: vwmin(14, sp);
                }
            }
        }
        a{
            display: inline-block;
            @media (hover: hover) {
                transition: 0.5s;
                &:hover{
                    background: #ccc;
                    color: var(--color-base);
                }
            }
        }
    }
}

.el_caseSide{
    width: vwmin(260, pc);
    @include underTB {
        width: 100%;
        max-width: vwmin(400, tb);
        margin: 0 auto vwmin(60, tb);
    }
    @include underSP {
        max-width: none;
    }
    &_ttl{
        margin-bottom: vwmin(14, pc);
        font-weight: 700;
        line-height: 1;
        .el_sideSelect + &{
            margin-top: vwmin(32, pc);
        }
        @include underTB {
            margin-bottom: vwmin(14, tb);
        }
        @include underSP {
            margin-bottom: vwmin(14, sp);
        }
    }
}
/* single
============================== */
.un_case {
    &.ly_inner{
        max-width: vwmin(1120, pc);
        margin-top: vwmin(40, pc);
        display: flex;
        justify-content: space-between;
        @include underTB {
            max-width: none;
            display: block;
            margin-top: vwmin(70, tb);
        }
        @include underSP {
            margin-top: vwmin(40, sp);
        }
    }
    .el_edit {
        width: 44.9%;
        margin: 0;
        @include underTB {
            width: 100%;
        }
        h2{
            font-size: vwmin(30, pc);
            padding-bottom: vwmin(8, pc);
            @include underTB {
                padding-bottom: vwmin(8, tb);
                font-size: vwmin(28, tb);
            }
            @include underSP {
                padding-bottom: vwmin(8, sp);
                font-size: vwmin(28, sp);
            }
        }
        h3{
            font-size: vwmin(20, pc);
            margin-top: vwmin(40, pc);
            padding-left: vwmin(10, pc);
            @include underTB {
                margin-top: vwmin(40, tb);
                padding-left: vwmin(10, tb);
                font-size: vwmin(20, tb);
            }
            @include underSP {
                margin-top: vwmin(40, sp);
                padding-left: vwmin(10, sp);
                font-size: vwmin(20, sp);
            }
            &:before{
                height: calc(100% - vwmin(4, pc));
                top: vwmin(2, pc);
                @include underTB {
                    top: vwmin(2, tb);
                }
                @include underSP {
                    top: vwmin(2, sp);
                }
            }
        }
        h4{
            margin-top: vwmin(26, pc);
            @include underTB {
                margin-top: vwmin(26, tb);
            }
            @include underSP {
                margin-top: vwmin(26, sp);
            }
        }
    }    
}
.el_siderCase {
    width: 48.2%;
    @include underTB {
        width: 100%;
        margin-bottom: vwmin(32, tb);
    }
    @include underSP {
        margin-bottom: vwmin(32, sp);
    }
    &_wrap{
        position: sticky;
        top: vwmin(100, pc);
        height: auto;
        width: calc(100% - vwmin(80, pc));
        margin: 0 auto;
        @include underTB {
            width: calc(100% - vwmin(80, tb));
            top: vwmin(100, tb);
        }
        @include underSP {
            width: calc(100% - vwmin(80, sp));
            top: vwmin(100, sp);
        }
    }
    &_img{
        border-radius: vwmin(8, pc);
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_cap {
        text-align: center;
        font-size: vwmin(12, pc);
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: 0.01em;
        margin-top: vwmin(8, pc);
        @include underTB {
            margin-top: vwmin(8, tb);
            font-size: vwmin(12, tb);
        }
        @include underSP {
            margin-top: vwmin(8, sp);
            font-size: vwmin(12, sp);
        }
    }
    .js_case_slide {
        overflow: hidden;
    }
    .swiper-btn-prev,.swiper-btn-next{
        position: absolute;
        top: calc(50% - vwmin(48, pc));
        cursor: pointer;
        outline: none;
        @include underTB {
            top: calc(50% - vwmin(48, tb));
        }
        @include underSP {
            top: calc(50% - vwmin(48, sp));
        }
        &.swiper-button-disabled{
            opacity: 0.2;
        }
        @media (hover: hover) {
            @include hover_nomal;
        }
    }
    .swiper-btn-prev {
        left: vwmin(-40, pc);
        @include underTB {
            left: vwmin(-40, tb);
        }
        @include underSP {
            left: vwmin(-40, sp);
        }
    }
    .swiper-btn-next {
        right: vwmin(-40, pc);
        @include underTB {
            right: vwmin(-40, tb);
        }
        @include underSP {
            right: vwmin(-40, sp);
        }
        &.swiper-button-disabled{
            opacity: 0.2;
        }
    }
}
.bl_relationCase {
    background: var(--bg-thin);
    padding: vwmin(80, pc) vwmin(40, pc);
    max-width: vwmin(1200, pc);
    width: calc(100% - vwmin(40, pc));
    margin: vwmin(80, pc) auto 0;
    @include underTB {
        max-width: none;
        width: calc(100% - vwmin(40, tb));
        margin: vwmin(80, tb) auto 0;
        padding: vwmin(120, tb) vwmin(40, tb);
    }
    @include underSP {
        max-width: none;
        width: calc(100% - vwmin(40, sp));
        margin: vwmin(100, sp) auto 0;
        padding: vwmin(60, sp) vwmin(20, sp);
    }
    .el_textBox_ttl{
        font-size: vwmin(28, pc);
        padding-bottom: vwmin(30, pc);
        @include underTB {
            font-size: vwmin(28, tb);
            padding-bottom: 0;
        }
        @include underSP {
            font-size: vwmin(28, sp);
        }
    }
    .el_caseList{
        gap: vwmin(40, pc);
        margin-top: vwmin(80, pc);
        @include underTB {
            gap: vwmin(40, tb);
            margin-top: vwmin(40, tb);
        }
        @include underSP {
            gap: vwmin(40, sp);
            margin-top: vwmin(40, sp);
        }
        &_item{
            width: calc((100% - vwmin(160, pc)) / 4);
            @include underTB {
                width: calc((100% - vwmin(40, tb)) / 2);
            }
            @include underSP {
                width: calc((100% - vwmin(40, sp)) / 2);
            }
        }
    }
}