@use '../../foundation/function/index' as *;


.bl_faqContentsWrapper_container{
    display: flex;
    flex-direction: column;
    gap: vwmin(100, pc);

    @include underSP {
        gap: vwmin(60, sp_m);
    }
}

.bl_faqContentsWrapper {
    display: flex;
    flex-direction: column;
    gap: vwmin(30, pc);

    @include underSP {
        gap: vwmin(30, sp_m);
    }

    .el_faqContentsWrapper_ttl {
        color: #1A0F04;
        font-family: var(--notoSerifJP);
        font-size: vwmin(32, pc);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: calc(1.6 / 32 * 1em);
        padding-bottom: vwmin(20, pc);
        border-bottom: 1px dashed #987F65;

        @include underSP {
            font-size: vwmin(32, sp_m);
            margin-bottom: vwmin(20, sp_m);
        }
    }
}


.bl_faqContentsWrapper_item {
    display: flex;
    flex-direction: column;
    gap: vwmin(30, pc);

    @include underSP {
        gap: vwmin(30, sp_m);
    }

    .el_faqContentsWrapper_item_ttl {
        color: #1A0F04;
        font-family: var(--notoSerifJP);
        font-size: vwmin(24, pc);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: calc(1.2 / 24 * 1em);

        @include underSP {
            font-size: vwmin(24, sp_m);
        }
    }
}


.bl_columnBtnItem {
    .bl_columnBtnItem_inner {
        display: grid;
        grid-template-columns: vwmin(140, pc) 1fr;
        gap: vwmin(24, pc);
        width: 100%;
        padding: vwmin(20, pc);
        border-radius: vwmin(4, pc);
        background-color: #E5D8CD;
        transition: opacity 0.5s ease;

        @include underSP {
            display: flex;
            flex-direction: column;
            gap: vwmin(24, sp_m);
            padding: vwmin(20, sp_m);
            height: 100%;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
                transition: opacity 0.5s ease;
            }
        }

        .bl_columnBtnItem_imgWrapper {
            width: 100%;
            aspect-ratio: 1 / 1;
            height: auto;

            @include underSP {
                max-width: vwmin(170, sp_m);
                margin-inline: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bl_columnBtnItem_txtWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include underSP {
                height: 100%;
            }

            .bl_columnBtnItem_postInfoWrapper {
                display: grid;
                grid-template-columns: min-content 1fr;
                gap: vwmin(20, pc);
                align-items: flex-start;
                margin-bottom: vwmin(10, pc);

                @include underSP {
                    grid-template-columns: 1fr;
                    gap: vwmin(4, sp_m);
                    margin-bottom: vwmin(10, sp_m);
                }

                .el_columnBtnItem_postInfoWrapper_date {
                    color: var(--black, #1A0F04);
                    font-family: var(--OldSt);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.48 / 16 * 1em);
                    width: fit-content;
                    padding-top: vwmin(2, pc);

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                        padding-top: 0;
                    }
                }


                .bl_columnBtnItem_postInfoWrapper_cats {
                    display: flex;
                    flex-wrap: wrap;
                    gap: vwmin(10, pc);
                    width: fit-content;

                    @include underSP {
                        gap: vwmin(4, sp_m);
                    }

                    .el_columnBtnItem_postInfoWrapper_cats_cat {
                        display: block;
                        color: var(--black, #1A0F04);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(12, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.6;
                        letter-spacing: calc(0.6 / 12 * 1em);
                        padding-block: vwmin(2, pc);
                        padding-inline: vwmin(8, pc);
                        border-radius: vwmin(2, pc);
                        background-color: #F4EEEA;

                        @include underSP {
                            font-size: vwmin(12, sp_m);
                            padding-block: vwmin(2, sp_m);
                            padding-inline: vwmin(4, sp_m);
                            border-radius: vwmin(2, sp_m);
                        }
                    }

                }
            }

            .el_columnBtnItem_txtWrapper_ttl {
                color: var(--txtColor);
                font-family: var(--notoSerifDisplay);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.6;
                letter-spacing: calc(0.8 / 16 * 1em);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }

            .bl_columnBtnItem_txtWrapper_arrow {
                display: block;
                width: 100%;
                max-width: vwmin(26, pc);
                margin-left: auto;

                @include underSP {
                    max-width: vwmin(26, sp_m);
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}


/*--------------------------------
一覧ページ
--------------------------------*/
.bl_columnArchiveList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vwmin(20, pc);

    @include underSP {
        grid-template-columns: 1fr;
        gap: vwmin(20, sp_m);


        .bl_columnBtnItem_inner{
            display: grid;
            grid-template-columns: vwmin(100, sp_m) 1fr;
            padding: vwmin(10, sp_m);
        }
    
        .bl_columnBtnItem_postInfoWrapper{
            grid-template-columns: min-content 1fr !important;
            align-items: center !important;
            gap: vwmin(20, sp_m) !important;
        }
    
        .el_columnBtnItem_postInfoWrapper_date{
            line-height: 1 !important;
            padding-top: vwmin(4, sp_m) !important;
        }
    }
}