@use '../../foundation/function/index' as *;




.bl_concernContents {
    display: flex;
    flex-direction: column;
    gap: vwmin(100, pc);
}

.bl_concernUpper {
    display: flex;
    flex-direction: column;
    gap: vwmin(50, pc);

    .bl_concernUpper_ttlWrapper {
        display: grid;
        grid-template-columns: 1fr vwmin(390, pc);
        align-items: center;
        border-radius: vwmin(4, pc);
        border: 1px solid #987F65;
        overflow: hidden;

        @include underSP {
            grid-template-columns: 1fr vwmin(125, sp_m);
        }

        .bl_concernUpper_ttlWrapper_ttl {
            display: flex;
            flex-wrap: wrap;
            gap: vwmin(16, pc);
            align-items: center;
            padding-left: vwmin(50, pc);

            @include underSP {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding-left: vwmin(20, sp_m);
            }

            .el_concernUpper_ttlWrapper_ttl_main {
                display: block;
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(40, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.8 / 40 * 1em);

                @include underSP {
                    font-size: vwmin(26, sp_m);
                }
            }

            .el_concernUpper_ttlWrapper_ttl_sub {
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(24, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.48 / 24 * 1em);

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }
        }

        .bl_concernUpper_ttlWrapper_imgWrapper {
            position: relative;

            @include underSP {
                aspect-ratio: 1 / 1;
                width: 100%;
                height: auto;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(270deg, rgba(244, 238, 234, 0.00) 0%, #F4EEEA 100%) no-repeat;
            }

            .el_concernUpper_ttlWrapper_imgWrapper_img {
                overflow: hidden;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .bl_concernTxtWrapper {
        .el_concernTxtWrapper_txt {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.8 / 16 * 1em);

            @include underSP {
                font-size: vwmin(16, sp_m);
            }
        }
    }
}

.bl_concernLower {

    .bl_concernLower_inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: vwmin(30, pc);
        row-gap: vwmin(50, pc);

        @include underSP {
            grid-template-columns: repeat(auto-fill, minmax(min(vwmin(170, sp_m), 100%), 1fr));
            gap: vwmin(20, sp_m);
        }

        .bl_menuCard {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}