@use '../../foundation/function/index' as *;


.bl_concernArchiveContents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vwmin(30, pc);

    @include underSP {
        grid-template-columns: 1fr;
        gap: vwmin(30, sp_m);
    }
}



.bl_concernContents {
    display: flex;
    flex-direction: column;
    gap: vwmin(100, pc);
}

.bl_concernUpper {
    display: flex;
    flex-direction: column;
    gap: vwmin(50, pc);

    .bl_concernUpper_ttlWrapper {
        display: grid;
        grid-template-columns: 1fr vwmin(390, pc);
        align-items: center;
        border-radius: vwmin(4, pc);
        border: 1px solid #987F65;
        overflow: hidden;
        min-height: vwmin(280, pc);

        @include underSP {
            grid-template-columns: 1fr vwmin(125, sp_m);
            min-height: vwmin(125, sp_m);
        }

        .bl_concernUpper_ttlWrapper_ttl {
            display: flex;
            flex-wrap: wrap;
            gap: vwmin(16, pc);
            align-items: center;
            padding-left: vwmin(50, pc);

            @include underSP {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                padding-left: vwmin(20, sp_m);
            }

            .el_concernUpper_ttlWrapper_ttl_main {
                display: block;
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(40, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.8 / 40 * 1em);

                @include underSP {
                    font-size: vwmin(26, sp_m);
                }
            }

            .el_concernUpper_ttlWrapper_ttl_sub {
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(24, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.48 / 24 * 1em);

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }
        }

        .bl_concernUpper_ttlWrapper_imgWrapper {
            position: relative;

            @include underSP {
                aspect-ratio: 1 / 1;
                width: 100%;
                height: auto;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to left, rgba(244, 238, 234, 0) 0%, #F4EEEA 100%);

                z-index: 1;
            }

            .el_concernUpper_ttlWrapper_imgWrapper_img {
                overflow: hidden;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .bl_concernTxtWrapper {
        .el_concernTxtWrapper_txt {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.8 / 16 * 1em);

            @include underSP {
                font-size: vwmin(16, sp_m);
            }
        }
    }
}

.bl_concernLower {

    .bl_concernLower_inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: vwmin(30, pc);
        row-gap: vwmin(50, pc);

        @include underSP {
            grid-template-columns: repeat(auto-fill, minmax(min(vwmin(170, sp_m), 100%), 1fr));
            gap: vwmin(20, sp_m);
        }

        .bl_menuCard {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}



.bl_concernItem {
    height: 100%;
    background-color: #FFFBF8;
    overflow: hidden;
    border-radius: vwmin(4, pc);

    @include underSP {
        border-radius: vwmin(4, sp_m);
    }

    .bl_concernItem_upper {
        display: grid;
        grid-template-columns: vwmin(50, pc) auto;
        gap: vwmin(10, pc);
        align-items: center;
        padding-block: vwmin(10, pc);
        padding-inline: vwmin(14, pc);
        background-color: #E5D8CD;
        width: 100%;

        @include underSP {
            grid-template-columns: vwmin(50, sp_m) auto;
            gap: vwmin(10, sp_m);
            padding-block: vwmin(10, sp_m);
            padding-inline: vwmin(14, sp_m);
        }


        .bl_concernItem_upper_imgWrapper {
            display: grid;
            grid-template-columns: vwmin(30, pc);
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: #987F65;
            aspect-ratio: 1 / 1;
            padding: vwmin(7, pc);

            @include underSP {
                grid-template-columns: vwmin(30, sp_m);
                padding: vwmin(7, sp_m);
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bl_concernItem_upper_txtWrapper {
            display: flex;
            flex-direction: column;

            .el_concernItem_upper_txtWrapper_txtEn {
                color: var(--line, #987F65);
                font-family: var(--OldSt);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                margin-block: var(--leading-trim);
                letter-spacing: calc(0.28 / 14 * 1em);

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }

            .el_concernItem_upper_txtWrapper_txtJa {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(18, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.9 / 18 * 1em);

                @include underSP {
                    font-size: vwmin(18, sp_m);
                }
            }
        }
    }

    .bl_concernItem_lower {
        padding-block: vwmin(20, pc);
        padding-inline: vwmin(14, pc);

        @include underSP {
            padding-block: vwmin(20, sp_m);
            padding-inline: vwmin(14, sp_m);
        }

        .bl_concernItem_postList {
            display: flex;
            flex-direction: column;
            gap: vwmin(16, pc);

            @include underSP {
                gap: vwmin(16, sp_m);
            }

            .bl_concernItem_postList_item {

                .bl_concernItem_postList_item_btn {
                    display: grid;
                    grid-template-columns: 1fr vwmin(11, pc);
                    align-items: center;
                    gap: vwmin(10, pc);
                    padding-bottom: vwmin(6, pc);
                    border-bottom: 1px solid #E5D8CD;
                    transition: opacity 0.5s ease;

                    @include underSP {
                        grid-template-columns: 1fr vwmin(11, sp_m);
                        gap: vwmin(10, sp_m);
                        padding-bottom: vwmin(6, sp_m);
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.7;
                            transition: opacity 0.5s ease;
                        }
                    }

                    .el_concernItem_postList_item_btn_txt {
                        width: 100%;
                        color: var(--txtColor);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(16, pc);

                        @include underSP {
                            font-size: vwmin(16, sp_m);
                        }
                    }

                    .el_concernItem_postList_item_btn_arrow {
                        display: block;
                        width: 100%;
                    }
                }
            }

        }
    }
}