@use '../../foundation/function/index' as *;




.bl_faqContentsWrapper_container {
    display: flex;
    flex-direction: column;
    gap: vwmin(100, pc);

    @include underSP {
        gap: vwmin(60, sp_m);
    }
}

.bl_faqContentsWrapper {
    display: flex;
    flex-direction: column;
    gap: vwmin(30, pc);

    @include underSP {
        gap: vwmin(30, sp_m);
    }

    .el_faqContentsWrapper_ttl {
        color: #1A0F04;
        font-family: var(--notoSerifJP);
        font-size: vwmin(32, pc);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: calc(1.6 / 32 * 1em);
        padding-bottom: vwmin(20, pc);
        border-bottom: 1px dashed #987F65;

        @include underSP {
            font-size: vwmin(24, sp_m);
            margin-bottom: vwmin(20, sp_m);
            padding-bottom: vwmin(20, sp_m);
        }
    }
}


.bl_faqContentsWrapper_item {
    display: flex;
    flex-direction: column;
    gap: vwmin(30, pc);

    @include underSP {
        gap: vwmin(30, sp_m);
    }

    .el_faqContentsWrapper_item_ttl {
        color: #1A0F04;
        font-family: var(--notoSerifJP);
        font-size: vwmin(24, pc);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: calc(1.2 / 24 * 1em);

        @include underSP {
            font-size: vwmin(20, sp_m);
        }
    }
}
