//top
@forward 'top';

//post page
@forward 'menu';
@forward 'case';
@forward 'price';
@forward 'news';
@forward 'about';
@forward 'single';
@forward 'staff';
@forward 'concern';
@forward 'guide';
@forward 'recruit';
@forward 'entry';
@forward 'privacy';
@forward 'faq';
@forward 'column';