@use '../../foundation/function/index' as *;

.ly_menuSinglePage {
    background-color: #E5D8CD;
}

.bl_menuArticleMain{
     background-color: #F4EEEA;
    padding-bottom: calc(vwmin(40, pc) + vwmin(18, pc));

    @include underSP {
        padding-bottom: 100px;
    }
}


.bl_menuArticle_ttlContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: vwmin(90, pc);
    padding-block: vwmin(142, pc);
    max-width: vwmin(1120, pc);
    margin-inline: auto;

    @include underSP {
        padding-top: vwmin(142, sp_m);
        grid-template-columns: 1fr;
        padding-bottom: vwmin(60, sp_m);
        gap: vwmin(30, sp_m);
        max-width: 100%;
        padding-inline: vwmin(30, sp_m);
    }

    .bl_menuArticle_ttl {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: vwmin(14, pc);

        @include underSP {
            gap: vwmin(14, sp_m);
            align-items: flex-start;
        }

        .el_menuArticle_ttl_en {
            color: #987F65;
            font-family: var(--OldSt);
            font-size: vwmin(14, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(0.28 / 14 * 1em);

            @include underSP {
                font-size: vwmin(14, sp_m);
            }
        }

        .el_menuArticle_ttl_ttl {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(40, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(2 / 40 * 1em);

            @include underSP {
                font-size: vwmin(36, sp_m);
            }
        }
    }


    .bl_menuArticle_thumbnail {
        padding: vwmin(10, pc);
        border-radius: vwmin(4, pc);
        border: 1px solid #987F65;

        @include underSP {
            padding: vwmin(10, sp_m);
            border-radius: vwmin(4, sp_m);
        }

        .el_menuArticle_thumbnail_img {
            width: 100%;
            object-fit: cover;
            border-radius: vwmin(2, pc);

            @include underSP {
                border-radius: vwmin(2, sp_m);
            }
        }
    }
}


.bl_menuArticle_contents {
    background-color: #F4EEEA;

    @include underSP {
        .bl_menuArticle_contents_inner {
            overflow: hidden;
        }
    }

    .bl_menuArticle_contents_inner {
        position: relative;
        display: grid;
        grid-template-columns: vwmin(240, pc) 1fr;
        gap: vwmin(80, pc);
        padding-top: vwmin(150, pc);
        padding-bottom: vwmin(200, pc);
        max-width: vwmin(1120, pc);
        margin-inline: auto;
        width: 100%;

        @include underSP {
            grid-template-columns: 1fr;
            gap: vwmin(60, sp_m);
            max-width: 100%;
            padding-top: vwmin(50, sp_m);
            padding-inline: vwmin(30, sp_m);
            padding-bottom: vwmin(180, sp_m);
        }
    }
}


.bl_menuArticle_contents_navContainer {
    height: 100%;

    .bl_menuArticle_contents_navWrapper {
        position: sticky;
        top: vwmin(150, pc);
        width: 100%;
        z-index: 1;

        @include underSP {
            position: relative;
            top: 0;
        }

        .el_menuArticle_contents_navWrapper_ttl {
            color: var(--black);
            font-family: var(--OldSt);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.36px;
            padding-block: vwmin(10, pc);
            border-block: 1px solid #987F65;
            margin-bottom: vwmin(30, pc);
            text-align: center;

            @include underSP {
                font-size: vwmin(18, sp_m);
                padding-block: vwmin(10, sp_m);
                margin-bottom: vwmin(30, sp_m);
            }
        }

        .bl_menuArticle_navListWrapper {

            .bl_menuArticle_navList {
                display: flex;
                flex-direction: column;
                gap: vwmin(24, pc);

                @include underSP {
                    gap: vwmin(24, sp_m);
                }

                .el_menuArticle_navListItem_link {
                    display: grid;
                    grid-template-columns: vwmin(4, pc) 1fr;
                    align-items: flex-start;
                    gap: vwmin(8, pc);
                    color: var(--black);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: calc(0.8 / 16 * 1em);
                    transition: color 0.3s ease;

                    @include underSP {
                        grid-template-columns: vwmin(4, sp_m) 1fr;
                        font-size: vwmin(16, sp_m);
                        gap: vwmin(8, sp_m);
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: relative;
                        width: vwmin(4, pc);
                        height: vwmin(4, pc);
                        aspect-ratio: 1/1;
                        background-color: #1A0F04;
                        border-radius: 100%;
                        margin-top: vwmin(7, pc);

                        @include underSP {
                            width: vwmin(4, sp_m);
                            height: vwmin(4, sp_m);
                            margin-top: vwmin(7, sp_m);
                        }
                    }

                    .el_menuArticle_navListItem_link_txt {
                        display: block;
                        grid-column: 2;
                    }
                }

                .is-active {
                    color: #987F65;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}


.bl_menuArticleInfoSection_item {
    padding-top: vwmin(60, pc);

    @include underSP {
        padding-top: vwmin(60, sp_m);
    }

    .el_menuArticleInfoSection_item_ttl {
        color: var(--txtColor);
        font-family: var(--notoSerifJP);
        font-size: vwmin(32, pc);
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: calc(1.6 / 32 * 1em);
        margin-bottom: vwmin(40, pc);
        padding-bottom: vwmin(30, pc);
        border-bottom: 1px dashed #987F65;

        @include underSP {
            font-size: vwmin(32, sp_m);
            margin-bottom: vwmin(40, sp_m);
            padding-bottom: vwmin(30, sp_m);
        }
    }


    //症例
    .bl_caseItem {
        max-width: vwmin(240, pc);

        @include underSP {
            max-width: vwmin(246, sp_m);
        }

        .bl_caseItem_details_summary {
            background-color: #E5D8CD;
        }
    }

    .bl_caseSliderWrapper {
        overflow: hidden;
        margin-bottom: vwmin(50, pc);

        @include underSP {
            margin-bottom: vwmin(50, sp_m);
        }

        .splide__list {
            gap: vwmin(40, pc);

            @include underSP {
                gap: vwmin(40, sp_m);
            }
        }

        .bl_meneCaseSlider {

            .splide__slide {
                width: fit-content !important;

                @include underSP {
                    width: fit-content !important;
                }
            }
        }
    }

    //基本情報
    .bl_menuInfoTable {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        .bl_menuInfoTable_tr {
            display: grid;
            grid-template-columns: vwmin(200, pc) 1fr;
            border-bottom: 1px solid #987F65;

            @include underSP {
                grid-template-columns:  vwmin(130, sp_m) 1fr;
            }

            &:last-child {
                border-bottom: none;
            }

            .el_menuInfoTable_th {
                padding: vwmin(16, pc);
                background-color: #E5D8CD;
                color: var(--txtColor);
                font-feature-settings: 'palt' on;
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: calc(0.8 / 16 * 1em);
                text-align: left;

                @include underSP {
                    font-size: vwmin(16, sp_m);
                    padding: vwmin(16, sp_m);
                }
            }

            .el_menuInfoTable_td {
                background-color: #fff;
                padding: vwmin(16, pc);

                @include underSP {
                    padding: vwmin(16, sp_m);
                }

                p {
                    color: var(--txtColor);
                    font-feature-settings: 'palt' on;
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.32 / 16 * 1em);
                    margin-top: vwmin(20, pc);
                    &:first-child {
                        margin-top: 0;
                    }

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                        margin-top: vwmin(20, sp_m);
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: vwmin(16, pc);
                    margin-top: vwmin(8, pc);

                    &:first-child {
                        margin-top: 0;
                    }

                    @include underSP {
                        gap: vwmin(16, sp_m);
                        margin-top: vwmin(8, sp_m);
                    }

                    li {
                        position: relative;
                        color: var(--txtColor);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(16, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.8 / 16 * 1em);
                        padding-left: vwmin(12, pc);

                        @include underSP {
                            font-size: vwmin(16, sp_m);
                            padding-left: vwmin(12, sp_m);
                        }

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: vwmin(4, pc);
                            height: vwmin(4, pc);
                            border-radius: 100%;
                            background-color: #987F65;
                            margin-top: vwmin(11, pc);

                            @include underSP {
                                width: vwmin(4, sp_m);
                                height: vwmin(4, sp_m);
                                margin-top: vwmin(11, sp_m);
                            }
                        }
                    }
                }
            }
        }
    }

    .bl_menuRelatedPostList {
        width: 100%;

        @media screen and (min-width: 769px) {
            .splide {
                overflow: hidden !important;
            }

            .bl_menuRelatedPostSlider {
                overflow: hidden !important;

                .splide__track {
                    overflow: hidden;
                }

                .splide__list {
                    display: grid !important;
                    grid-template-columns: repeat(3, 1fr) !important;
                    gap: vwmin(30, pc);
                    transform: none !important;
                }

                .splide__slide {
                    width: auto !important;
                    margin: 0 !important;
                    min-width: 0;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .bl_menuRelatedPostSlider {

                .bl_menuCard{
                    max-width: vwmin(246, sp_m);
                }

                .splide__list {
                    gap: vwmin(20, sp_m);
                }

                .splide__slide {
                    width: fit-content !important;
                }

                .splide__track{
                    overflow: visible !important;
                }
            }
        }
    }

}

.bl_menuArticle_backAllbtn {
    display: block;
    max-width: vwmin(200, pc);
    width: 100%;
    border-radius: vwmin(2, pc);
    background: #E5D8CD;
    color: var(--black, #1A0F04);
    font-family: "Noto Serif JP";
    font-size: vwmin(18, pc);
    font-style: normal;
    font-weight: 350;
    line-height: 1;
    letter-spacing: calc(0.9 / 18 * 1em);
    padding: vwmin(10, pc);
    text-align: center;
    transition: opacity 0.5s ease;
    margin-top: vwmin(100, pc);
    margin-inline: auto;

    @include underSP {
        max-width: vwmin(200, sp_m);
        border-radius: vwmin(2, sp_m);
        font-size: vwmin(18, sp_m);
        padding: vwmin(10, sp_m);
        margin-top: vwmin(100, sp_m);
    }

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
            transition: opacity 0.5s ease;
        }
    }
}