@use '../../foundation/function/index' as *;


.ly_priceColumnWrapper {

    .ly_priceColumnWrapper_inner {
        max-width: vwmin(1124, pc);
        margin-inline: auto;
        width: 100%;

        @include underSP {
            max-width: 100%;
        }
    }
}



.ly_priceContentsWrapper {
    display: flex;
    flex-direction: column;
    gap: vwmin(80, pc);

    .bl_priceContentsWrapper_item {
        display: flex;
        flex-direction: column;
        gap: vwmin(60, pc);

        .el_priceContentsWrapper_item_ttl {
            color: var(--black, #1A0F04);
            font-family: var(--notoSerifJP);
            font-size: vwmin(32, pc);
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: calc(1.6 / 32 * 1em);
        }


        .bl_priceChildList {
            display: flex;
            flex-direction: column;
            gap: vwmin(40, pc);


            .el_priceChildList_ttl {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(28, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: calc(1.4 / 28 * 1em);
                border-bottom: 1px dashed #987F65;
                padding-bottom: vwmin(20, pc);
            }


            .bl_priceChildList_postList {
                display: flex;
                flex-direction: column;
                gap: vwmin(50, pc);

                .bl_priceChildList_postList_item {
                    display: flex;
                    flex-direction: column;
                    gap: vwmin(40, pc);

                    .el_priceChildList_postList_item_ttl {
                        color: var(--txtColor);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(24, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(1.2 / 24 * 1em);
                        padding-inline: vwmin(20, pc);
                        padding-block: vwmin(10, pc);
                        background-color: #E5D8CD;
                    }

                    .bl_priceWrapList {
                        display: flex;
                        flex-direction: column;
                        gap: vwmin(40, pc);

                        .bl_priceWrapList_item {
                            display: flex;
                            flex-direction: column;
                            gap: vwmin(12, pc);

                            .el_priceWrapList_item_ttl {
                                color: var(--txtColor);
                                font-family: var(--notoSerifJP);
                                font-size: vwmin(20, pc);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.2;
                                letter-spacing: calc(1 / 20 * 1em);
                                padding-block: vwmin(10, pc);
                                padding-left: vwmin(20, pc);
                                border-left: 2px solid #987F65;
                                margin-bottom: vwmin(18, pc);
                            }


                            .bl_priceTableList {
                                display: flex;
                                flex-direction: column;
                                gap: vwmin(30, pc);

                                .bl_priceTableList_item {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    align-items: flex-start;
                                    gap: vwmin(23, pc);
                                    padding-bottom: vwmin(20, pc);
                                    border-bottom: 1px solid #987F65;

                                    .el_priceTableList_item_ttl_txt {
                                        color: var(--txtColor);
                                        font-family: var(--notoSansJP);
                                        font-size: vwmin(16, pc);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 1.8;
                                        letter-spacing: calc(0.8 / 16 * 1em);
                                    }


                                    .bl_amountTableList {
                                        color: var(--txtColor);
                                        font-feature-settings: 'palt' on;
                                        font-family: var(--notoSansJP);
                                        font-size: vwmin(14, pc);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 1.8;
                                        letter-spacing: calc(0.7 / 14 * 1em);

                                        .bl_amountTableList_item {
                                            display: grid;
                                            grid-template-columns: repeat(3, 1fr);
                                            align-items: flex-start;
                                            gap: vwmin(23, pc);

                                            .el_amountTableList_item_txt,
                                            .el_amountTableList_item_num {
                                                text-align: right;
                                            }
                                        }
                                    }
                                }
                            }

                            .el_priceWrapList_item_caption {
                                color: #987F65;
                                font-family: var(--notoSerifJP);
                                font-size: vwmin(14, pc);
                                font-style: normal;
                                font-weight: 500;
                                line-height: 1.5;
                                letter-spacing: calc(0.7 / 14 * 1em);
                            }

                        }
                    }

                    .el_priceWrapList_item_caution {
                        color: #987F65;
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(16, pc);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: calc(0.8 / 16 * 1em);
                    }
                }
            }
        }
    }
}