@use '../../foundation/function/index' as *;

.bl_recruitContents {
    padding-block: vwmin(120, pc);

    @include underSP {
        padding-block: vwmin(120, sp_m);
    }
}

.bl_recruitContentsOuter {

    .bl_commonLowPageWrapper_contents {
        padding-block: 0 !important;
    }
}

.bl_recruitMessageSection {
    padding-block: vwmin(120, pc);

    @include underSP {
        padding-block: vwmin(120, sp_m);
        padding-inline: vwmin(30, sp_m);
    }

    .bl_recruitMessageSection_inner {
        max-width: vwmin(1120, pc);
        margin-inline: auto;
        display: grid;
        grid-template-columns: vwmin(400, pc) 1fr;
        gap: vwmin(120, pc);
        align-items: center;

        @include underSP {
            max-width: 100%;
            grid-template-columns: 1fr;
            gap: vwmin(50, sp_m);
        }


        .bl_recruitMessageSection_imgWrapper {
            padding: vwmin(10, pc);
            border-radius: vwmin(4, pc);
            border: 1px solid #987F65;

            @include underSP {
                padding: vwmin(10, sp_m);
                border-radius: vwmin(4, sp_m);
                max-width: vwmin(368, sp_m);
                margin-inline: auto;
            }

            .bl_recruitMessageSection_imgWrapper_img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: vwmin(2, pc);

                @include underSP {
                    border-radius: vwmin(2, sp_m);
                }
            }
        }


        .bl_recruitMessageSection_txtWrapper {

            @include underSP {
                display: contents;
            }

            .bl_recruitMessageSection_txtWrapper_ttl {
                margin-bottom: vwmin(50, pc);

                @include underSP {
                    grid-row: 1;
                    margin-bottom: 0;
                }

                .el_recruitMessageSection_txtWrapper_ttl_en {
                    color: var(--black);
                    font-family: var(--notoSerifDisplay);
                    font-size: vwmin(48, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: calc(0.96 / 48 * 1em);
                    margin-bottom: vwmin(10, pc);

                    @include underSP {
                        font-size: vwmin(40, sp_m);
                        margin-bottom: 0;
                        text-align: center;
                        margin-bottom: vwmin(10, sp_m);

                    }
                }

                .el_recruitMessageSection_txtWrapper_ttl_ja {
                    color: var(--black);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(18, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.9 / 18 * 1em);

                    @include underSP {
                        font-size: vwmin(18, sp_m);
                        text-align: center;
                    }
                }
            }

            .el_recruitMessageSection_copyWrapper {
                color: var(--black);
                font-family: var(--notoSerifDisplay);
                font-size: vwmin(36, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.4;
                letter-spacing: calc(0.72 / 36 * 1em);
                margin-bottom: vwmin(50, pc);

                @include underSP {
                    grid-row: 2;
                    margin-bottom: 0;
                    font-size: vwmin(26, sp_m);
                    width: fit-content;
                    margin-inline: auto;
                }

                .el_recruitMessageSection_copyWrapper_span {
                    color: var(--black);
                    font-family: var(--notoSerifDisplay);
                    font-size: vwmin(28, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8;
                    letter-spacing: calc(0.56 / 28 * 1em);

                    @include underSP {
                        font-size: vwmin(18, sp_m);
                    }
                }
            }
        }

        .bl_recruitMessageSection_messageTxtWrapper {

            .bl_recruitMessageSection_messageTxtWrapper_txtContainer {
                display: flex;
                gap: vwmin(20, pc);
                flex-direction: column;
                margin-bottom: vwmin(20, pc);

                @include underSP {
                    margin-bottom: 0;
                    gap: vwmin(20, sp_m);
                    margin-bottom: vwmin(20, sp_m);
                }

                .el_recruitMessageSection_messageTxtWrapper_txtContainer_txt {
                    color: var(--black);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.9;
                    letter-spacing: calc(0.8 / 16 * 1em);

                    @include underSP {
                        font-size: vwmin(16, sp_m);

                        br{
                            display: none;
                        }
                    }
                }
            }


            .bl_recruitMessageSection_messageTxtWrapper_directorWrapper {
                display: grid;
                grid-template-columns: auto auto;
                gap: vwmin(14, pc);
                align-items: flex-end;
                width: fit-content;


                @include underSP {
                    justify-content: flex-end;
                    gap: vwmin(10, sp_m);
                    width: 100%;
                }

                .el_recruitMessageSection_messageTxtWrapper_directorWrapper_job {
                    color: var(--black);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.7 / 14 * 1em);

                    @include underSP {
                        font-size: vwmin(14, sp_m);
                    }
                }

                .el_recruitMessageSection_messageTxtWrapper_directorWrapper_name {
                    color: var(--black);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(18, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.9 / 18 * 1em);

                    @include underSP {
                        font-size: vwmin(18, sp_m);
                    }
                }
            }
        }
    }
}

.bl_recruitConditionsSection {
    padding-block: vwmin(120, pc);
    background-color: #E5D8CD;

    @include underSP {
        padding-block: vwmin(100, sp_m);
    }

    .bl_recruitConditionsSection_inner {
        max-width: vwmin(1120, pc);
        margin-inline: auto;

        @include underSP {
            max-width: 100%;
            padding-inline: vwmin(30, sp_m);
        }

        .bl_recruitConditionsSection_ttl {
            width: fit-content;
            margin-bottom: vwmin(50, pc);
            margin-inline: auto;

            @include underSP {
                margin-bottom: vwmin(50, sp_m);
            }

            .el_recruitConditionsSection_ttl_en {
                color: var(--black);
                font-family: var(--notoSerifDisplay);
                font-size: vwmin(48, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(0.96 / 48 * 1em);
                margin-bottom: vwmin(20, pc);

                @include underSP {
                    text-align: center;
                    font-size: vwmin(40, sp_m);
                    margin-bottom: vwmin(20, sp_m);
                }
            }

            .el_recruitConditionsSection_ttl_ja {
                color: var(--black, #1A0F04);
                font-family: var(--notoSerifJP);
                font-size: vwmin(18, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.9 / 18 * 1em);
                width: fit-content;
                margin-inline: auto;

            @include underSP {
                font-size: vwmin(18, sp_m);
            }
            }
        }


        .bl_recruitConditionsSection_list {
            display: flex;
            flex-direction: column;
            gap: vwmin(50, pc);

            @include underSP {
                gap: vwmin(50, sp_m);
            }

            .bl_recruitConditionsSection_list_item {
                display: grid;
                grid-template-columns: vwmin(260, pc) 1fr;
                gap: vwmin(60, pc);
                align-items: center;

                @include underSP {
                    grid-template-columns: 1fr;
                    gap: vwmin(20, sp_m);
                }

                .bl_recruitConditionsSection_list_item_imgWrapper {
                    padding: vwmin(10, pc);
                    border-radius: vwmin(4, pc);
                    border: 1px solid #987F65;

                    @include underSP {
                        padding: vwmin(10, sp_m);
                        border-radius: vwmin(4, sp_m);
                    }

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }

                .bl_recruitConditionsSection_list_item_txtWrapper {

                    .el_recruitConditionsSection_list_item_txtWrapper_ttl {
                        color: var(--black);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(18, pc);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.8;
                        letter-spacing: calc(0.9 / 18 * 1em);
                        padding-block: vwmin(4, pc);
                        padding-inline: vwmin(10, pc);
                        background-color: #F4EEEA;
                        width: fit-content;
                        margin-bottom: vwmin(14, pc);

                        @include underSP {
                            font-size: vwmin(18, sp_m);
                            padding-block: vwmin(4, sp_m);
                            padding-inline: vwmin(10, sp_m);
                            margin-bottom: vwmin(10, sp_m);
                            width: 100%;
                        }
                    }

                    .el_recruitConditionsSection_list_item_txtWrapper_txt {
                        color: var(--black);
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(16, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.8;
                        letter-spacing: calc(0.8 / 16 * 1em);

                        @include underSP {
                            font-size: vwmin(16, sp_m);
                        }
                    }

                }
            }
        }

    }
}


.bl_jobCategorySection {
    padding-bottom: 3vw;
    background-color: #F4EEEA;

    @include underSP {
        padding-bottom: 100px;
    }

    .bl_jobCategorySection_inner {
        padding-top: vwmin(120, pc);
        padding-bottom: vwmin(200, pc);

        @include underSP {
            padding-top: vwmin(100, sp_m);
            padding-bottom: vwmin(180, sp_m);
            padding-inline: vwmin(30, sp_m);
        }

        .bl_jobCategorySection_ttl {
            width: fit-content;
            margin-bottom: vwmin(50, pc);
            margin-inline: auto;

            @include underSP {
                margin-bottom: vwmin(50, sp_m);
            }

            .el_jobCategorySection_ttl_en {
                color: var(--black);
                font-family: var(--notoSerifDisplay);
                font-size: vwmin(60, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(1.2 / 60 * 1em);
                margin-bottom: vwmin(20, pc);

                @include underSP {
                    font-size: vwmin(40, sp_m);
                    margin-bottom: vwmin(10, sp_m);
                }
            }

            .el_jobCategorySection_ttl_ja {
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.8 / 16 * 1em);
                width: fit-content;
                margin-inline: auto;

                @include underSP {
                    font-size: vwmin(16, sp_m);
                    margin-bottom: vwmin(20, sp_m);
                }
            }
        }

        .bl_jobCategorySection_list {
            display: flex;
            flex-direction: column;
            gap: vwmin(20, pc);
            max-width: vwmin(800, pc);
            margin-inline: auto;
            
            @include underSP {
                gap: vwmin(20, sp_m);
                max-width: 100%;
            }

            .bl_jobCategorySection_noPosts {
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(20, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.8 / 16 * 1em);
                text-align: center;
                padding-top: vwmin(40, pc);

                @include underSP {
                    font-size: vwmin(20, sp_m);
                    padding-top: vwmin(40, sp_m);
                }
            }

            .bl_jobCategorySection_list_item {
                background-color: #E5D8CD;
                border-radius: vwmin(4, pc);

                @include underSP {
                    border-radius: vwmin(4, sp_m);
                }


                .bl_jobCategorySection_list_item_summary {
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: auto vwmin(22, pc);
                    align-items: center;
                    gap: vwmin(10, pc);
                    padding: vwmin(30, pc);

                    @include underSP {
                        grid-template-columns: auto vwmin(22, sp_m);
                        gap: vwmin(10, sp_m);
                        padding: vwmin(30, sp_m);
                    }

                    .el_jobCategorySection_list_item_summary_txtContainer_txtEn {
                        display: block;
                        color: #987F65;
                        font-family: var(--OldSt);
                        font-size: vwmin(14, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        letter-spacing: calc(0.28 / 14 * 1em);

                        @include underSP {
                            font-size: vwmin(14, sp_m);
                        }
                    }

                    .el_jobCategorySection_list_item_summary_txtContainer_txtJa {
                        display: block;
                        color: #1A0F04;
                        font-family: var(--notoSerifJP);
                        font-size: vwmin(18, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.9 / 18 * 1em);

                        @include underSP {
                            font-size: vwmin(18, sp_m);
                        }
                    }
                }

                .bl_jobCategorySection_list_item_summary_arrow {
                    transition: transform 0.4s ease;
                }

                &.is-opened {

                    .bl_jobCategorySection_list_item_summary_arrow {
                        transition: transform 0.4s ease;
                        transform: rotate(180deg);
                    }
                }

                .bl_jobCategorySection_list_item_content {
                    height: auto;
                    overflow: hidden;

                    .bl_jobCategorySection_list_item_content_inner {
                        padding-inline: vwmin(30, pc);
                        padding-bottom: vwmin(30, pc);

                        @include underSP {
                            padding-inline: vwmin(30, sp_m);
                            padding-bottom: vwmin(30, sp_m);
                        }

                        .bl_jobContentList {
                            margin-bottom: vwmin(70, pc);
                            display: flex;
                            flex-direction: column;
                            gap: vwmin(30, pc);

                            @include underSP {
                                margin-bottom: vwmin(50, sp_m);
                            }

                            .bl_jobContentList_item {
                                padding-bottom: vwmin(30, pc);
                                border-bottom: 1px solid #987F65;
                                display: grid;
                                grid-template-columns: vwmin(100, pc) 1fr;
                                align-items: flex-start;
                                gap: vwmin(50, pc);

                                @include underSP {
                                    grid-template-columns: 1fr;
                                    gap: vwmin(20, sp_m);
                                    padding-bottom: vwmin(30, sp_m);
                                }

                                &:last-child {
                                    padding-bottom: 0;
                                    border-bottom: none;
                                }

                                .el_jobContentList_item_ttl {
                                    color: #1A0F04;
                                    font-family: var(--notoSerifJP);
                                    font-size: vwmin(16, pc);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%;
                                    letter-spacing: calc(0.8 / 16 * 1em);

                                    @include underSP {
                                        font-size: vwmin(16, sp_m);
                                    }
                                }

                                .bl_jobContentList_item_content {

                                    p {
                                        color: var(--black);
                                        font-family: var(--notoSerifJP);
                                        font-size: vwmin(16, pc);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        letter-spacing: calc(0.8 / 16 * 1em);

                                        @include underSP {
                                            font-size: vwmin(16, sp_m);
                                        }
                                    }

                                    ul {
                                        display: flex;
                                        flex-direction: column;
                                        gap: vwmin(16, pc);
                                        color: var(--black);
                                        font-family: var(--notoSerifJP);
                                        font-size: vwmin(16, pc);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        letter-spacing: calc(0.8 / 16 * 1em);
                                        color: #1A0F04;

                                        @include underSP {
                                            font-size: vwmin(16, sp_m);
                                            gap: vwmin(16, sp_m);
                                        }

                                        li {
                                            position: relative;
                                            padding-left: vwmin(12, pc);

                                            @include underSP {
                                                padding-left: vwmin(12, sp_m);
                                            }

                                            &:before {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                left: 0;
                                                top: vwmin(8, pc);
                                                width: vwmin(4, pc);
                                                height: vwmin(4, pc);
                                                border-radius: 100%;
                                                background-color: #987F65;

                                                @include underSP {
                                                    width: vwmin(4, sp_m);
                                                    height: vwmin(4, sp_m);
                                                    top: vwmin(8, sp_m);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        .bl_jobCategorySection_entryBtn {
                            display: block;
                            box-sizing: border-box;
                            width: 100%;
                            background-color: #402D10;
                            color: #FFF;
                            font-family: var(--notoSerifJP);
                            font-size: vwmin(18, pc);
                            font-style: normal;
                            font-weight: 600;
                            line-height: 1;
                            letter-spacing: calc(0.9 / 18 * 1em);
                            padding: vwmin(12, pc) vwmin(20, pc);
                            border-radius: vwmin(100, pc);
                            text-align: center;
                            border: 1px solid  transparent;
                            transition: all 0.5s ease;


                            @include underSP {
                                font-size: vwmin(18, sp_m);
                                padding: vwmin(12, sp_m) vwmin(20, sp_m);
                            }

                            @media (any-hover: hover) {
                                &:hover {
                                    color: #402D10;
                                    background-color: #FFF;
                                    border: 1px solid #402D10;
                                    transition: all 0.5s ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}