@use '../../foundation/function/index' as *;

.bl_staffContentsOuter {

    .bl_staffContents_ttl {
        margin-bottom: vwmin(50, pc);

        @include underSP {
            margin-bottom: vwmin(50, sp_m);
        }

        .el_staffContents_ttl_en {
            color: var(--black);
            font-family: var(--notoSerifDisplay);
            font-size: vwmin(60, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(1.2 / 60 * 1em);
            width: fit-content;
            margin-inline: auto;
            text-transform: capitalize;
            margin-bottom: vwmin(20, pc);

            @include underSP {
                font-size: vwmin(40, sp_m);
                margin-bottom: vwmin(16, pc);
            }
        }

        .el_staffContents_ttl_ja {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.8 / 16 * 1em);
            width: fit-content;
            margin-inline: auto;

            @include underSP {
                font-size: vwmin(16, sp_m);
            }
        }
    }

    .bl_staffContents {

        .bl_commonLowPageWrapper_contents_inner{
            @include underSP {
                padding-inline: vwmin(30, sp_m);
            }
        }
        

        .bl_staffContents_postList {
            display: flex;
            flex-direction: column;
            gap: vwmin(100, pc);

            @include underSP {
                gap: vwmin(100, sp_m);
            }
        }
    }

    .bl_staffContents:nth-child(odd) {
        padding-top: vwmin(160, pc);

        @include underSP {
            padding-top: vwmin(100, sp_m);
        }

        .bl_commonLowPageWrapper_contents_inner {
            padding-bottom: vwmin(120, pc);

            @include underSP {
                padding-bottom: vwmin(100, sp_m);
            }
        }
    }

    .bl_staffContents:nth-child(even) {
        background-color: #E5D8CD;
        border-radius: 0;
        padding-top: vwmin(120, pc);

        @include underSP {
            padding-top: vwmin(100, sp_m);
        }

        .bl_commonLowPageWrapper_contents_inner {
            padding-bottom: vwmin(200, pc);

            @include underSP {
                padding-bottom: vwmin(180, sp_m);
            }
        }

        .bl_doctorContentsWrapper {
            max-width: vwmin(953, pc);
            grid-template-columns: vwmin(259, pc) 1fr;
            gap: vwmin(94, pc);

            @include underSP {
                max-width: 100%;
                grid-template-columns: 1fr;
                gap: vwmin(30, sp_m);
            }
        }


        .bl_doctorContentsWrapper_imgWrapper {
            max-width: vwmin(259, pc);

            @include underSP {
                max-width: vwmin(259, sp_m);
            }
        }
    }


    /* 看護師紹介 */
    .bl_nurseContentsWrapper {

        .el_nurseContentsWrapper_txt {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.8 / 16 * 1em);

            @include underSP {
                font-size: vwmin(16, sp_m);
            }
        }
    }
}