@use '../../foundation/function/index' as *;



.bl_staffContentsOuter {

    .bl_staffContents {
        border-radius: 0 !important;

        &:first-child {
            border-radius: vwmin(30, pc) vwmin(30, pc) 0 0 !important;

            @include underSP {
                border-radius: vwmin(30, sp_m) vwmin(30, sp_m) 0 0 !important;
            }
        }

        .bl_commonLowPageWrapper_contents_inner {
            @include underSP {
                padding-inline: vwmin(30, sp_m);
            }
        }

        .bl_staffContents_ttl {
            margin-bottom: vwmin(50, pc);

            @include underSP {
                margin-bottom: vwmin(50, sp_m);
            }

            .el_staffContents_ttl_en {
                color: var(--black);
                font-family: var(--notoSerifDisplay);
                font-size: vwmin(60, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(1.2 / 60 * 1em);
                width: fit-content;
                margin-inline: auto;
                text-transform: capitalize;
                margin-bottom: vwmin(20, pc);

                @include underSP {
                    font-size: vwmin(40, sp_m);
                    margin-bottom: vwmin(16, pc);
                }
            }

            .el_staffContents_ttl_ja {
                color: var(--black);
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.8 / 16 * 1em);
                width: fit-content;
                margin-inline: auto;

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }
        }

        .bl_staffContents_postList {
            display: flex;
            flex-direction: column;
            gap: vwmin(100, pc);

            @include underSP {
                gap: vwmin(100, sp_m);
            }
        }


        .bl_staffrContentsWrapper_snsListWrapper {
            display: flex;
            gap: vwmin(36, pc);
            align-items: flex-end;

            @include underSP {
                gap: vwmin(36, sp_m);
                justify-content: space-between;
            }

            .bl_staffrContentsWrapper_snsListWrapper_list {
                display: flex;
                gap: vwmin(10, pc);

                @include underSP {
                    gap: vwmin(10, sp_m);
                }


                .bl_staffrContentsWrapper_snsListWrapper_list_item {
                    --bgColor: #E5D8CD;
                    --svgColor: #1A0F04;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: vwmin(30, pc);
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    height: auto;
                    border-radius: vwmin(4, pc);
                    padding: vwmin(7, pc);
                    background-color: var(--bgColor);
                    box-sizing: border-box;
                    transition: background-color 0.5s ease;

                    @include underSP {
                        max-width: vwmin(30, sp_m);
                        padding: vwmin(7, sp_m);
                        border-radius: vwmin(4, sp_m);
                        padding: vwmin(7, sp_m);
                    }


                    svg {
                        display: block;
                        width: 100%;
                        height: auto;
                        max-width: vwmin(20, pc);
                        object-fit: contain;
                        aspect-ratio: 1 / 1;

                        @include underSP {
                            max-width: vwmin(20, sp_m);
                        }

                        path {
                            fill: var(--svgColor);
                            transition: fill 0.5s ease;
                        }
                    }
                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--svgColor);
                            transition: background-color 0.5s ease;

                            svg {
                                path {
                                    fill: var(--bgColor);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bl_staffContents:nth-child(odd) {
        padding-top: vwmin(160, pc);

        @include underSP {
            padding-top: vwmin(100, sp_m);
        }

        .bl_commonLowPageWrapper_contents_inner {
            padding-bottom: vwmin(120, pc);

            @include underSP {
                padding-bottom: vwmin(100, sp_m);
            }
        }

    }

    .bl_staffContents:nth-child(even) {
        background-color: #E5D8CD;
        border-radius: 0;
        padding-top: vwmin(120, pc);

        @include underSP {
            padding-top: vwmin(100, sp_m);
        }

        .bl_commonLowPageWrapper_contents_inner {
            padding-bottom: vwmin(200, pc);

            @include underSP {
                padding-bottom: vwmin(180, sp_m);
            }
        }

        .bl_doctorContentsWrapper {
            max-width: vwmin(953, pc);
            grid-template-columns: vwmin(259, pc) 1fr;
            gap: vwmin(94, pc);

            @include underSP {
                max-width: 100%;
                grid-template-columns: 1fr;
                gap: vwmin(30, sp_m);
            }
        }


        .bl_doctorContentsWrapper_imgWrapper {
            max-width: vwmin(259, pc);

            @include underSP {
                max-width: vwmin(259, sp_m);
            }
        }

        .bl_staffrContentsWrapper_snsListWrapper {


            .bl_staffrContentsWrapper_snsListWrapper_list {

                .bl_staffrContentsWrapper_snsListWrapper_list_item {
                    --bgColor: #F4EEEA;
                    --svgColor: #1A0F04;

                    background-color: var(--bgColor);
                    transition: background-color 0.5s ease;

                    svg {
                        path {
                            fill: var(--svgColor);
                            transition: fill 0.5s ease;
                        }
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--svgColor);
                            transition: background-color 0.5s ease;

                            svg {
                                path {
                                    fill: var(--bgColor);
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    /* 看護師紹介 */
    .bl_nurseContentsWrapper {

        .el_nurseContentsWrapper_txt {
            color: var(--black);
            font-family: var(--notoSerifJP);
            font-size: vwmin(16, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.8 / 16 * 1em);

            @include underSP {
                font-size: vwmin(16, sp_m);
            }
        }
    }
}