@use '../../foundation/function/index' as *;


/*--------------------------------
共通
--------------------------------*/
.bl_topSection {
    position: relative;
    width: 100%;
    padding-inline: vwmin(40, pc);

    @include underSP {
        padding-inline: vwmin(30, sp_m);
    }

    .bl_topSection_inner {
        max-width: vwmin(1120, pc);
        margin-inline: auto;

        @include underSP {
            max-width: 100%;
        }
    }
}


//タイトル
.blcommonSectionTtlWrapper {

    .bl_commonSectionTtl {
        width: fit-content;

        .el_commonSectionTtl_ttl_en {
            color: var(--txtColor);
            font-family: var(--notoSerifDisplay);
            font-size: vwmin(48, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(0.96 / 48 * 1em);
            margin-block-start: var(--leading-trim);
            margin-block-end: calc(vwmin(20, pc) + var(--leading-trim));

            @include underSP {
                font-size: vwmin(40, sp_m);
                margin-block-end: calc(vwmin(20, sp_m) + var(--leading-trim));
            }
        }

        .el_commonSectionTtl_ttl_ja {
            color: var(--txtColor);
            font-family: var(--notoSerifJP);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);

            @include underSP {
                font-size: vwmin(18, sp_m);
            }
        }
    }
}

//nopost
.bl_topNoPostContainer {
    width: 100%;

    .bl_topNoPostContainer_txtEn {
        color: var(--txtColor);
        font-family: var(--notoSerifDisplay);
        font-size: vwmin(48, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(0.96 / 48 * 1em);
        margin-block: var(--leading-trim);
        margin-block-end: calc(vwmin(20, pc) + var(--leading-trim));
        width: fit-content;
        margin-inline: auto;

        @include underSP {
            font-size: vwmin(40, sp_m);
            margin-block-end: calc(vwmin(20, sp_m) + var(--leading-trim));
        }
    }

    .bl_topNoPostContainer_txtJa {
        color: var(--txtColor);
        font-family: var(--notoSerifJP);
        font-size: vwmin(18, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: calc(0.9 / 18 * 1em);
        width: fit-content;
        margin-inline: auto;

        @include underSP {
            font-size: vwmin(18, sp_m);
        }
    }
}


//--------------------------------
//FV 
//--------------------------------

.bl_fvSection {
    position: relative;
    width: 100%;
    padding-block: vwmin(300, pc);
    padding-inline: vwmin(40, pc);
    display: flex;
    justify-content: center;
    align-items: center;

    @include underSP {
        padding-top: vwmin(181, sp_m);
        padding-bottom: vwmin(143, sp_m);
    }

    .bl_fvSection_bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @include underSP {
            height: 80%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bl_fvSection_txt {
        color: rgba(255, 255, 255, 0.70);
        text-align: center;
        text-shadow: 0 vwmin(4, pc) vwmin(25, pc) rgba(73, 52, 18, 0.20);
        font-family: var(--notoSerifJP);
        font-size: vwmin(52, pc);
        font-style: normal;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: calc(2.6 / 52 * 1em);
        width: fit-content;
        margin-inline: auto;

        @include underSP {
            font-size: vwmin(30, sp_m);
            text-shadow: 0 vwmin(4, sp_m) vwmin(25, sp_m) rgba(73, 52, 18, 0.20);
        }
    }
}


.bl_secondViewSectionWrapper_outer {
    overflow: hidden;

    .bl_secondViewSectionWrapper_outline {
        position: relative;
        padding-top: vwmin(10, pc);
        z-index: 0;

        @include underSP {
            padding-top: vwmin(10, sp_m);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            border-radius: vwmin(40, pc) vwmin(40, pc) 0 0;
            padding-top: vwmin(10, pc);
            padding-inline: vwmin(10, pc);
            border-top: 1px solid #F4EEEA;
            border-inline: 1px solid #F4EEEA;
            width: 100%;
            z-index: -1;

            @include underSP {
                border-radius: vwmin(40, sp_m) vwmin(40, sp_m) 0 0;
                padding-top: vwmin(10, sp_m);
                padding-inline: vwmin(10, sp_m);
            }
        }


        .bl_secondViewSectionWrapper {
            background-color: #F4EEEA;
            border-radius: vwmin(30, pc) vwmin(30, pc) 0 0;

            @include underSP {
                border-radius: vwmin(30, sp_m) vwmin(30, sp_m) 0 0;
            }
        }
    }
}


//--------------------------------
//News
//--------------------------------

.bl_newsSection {
    position: relative;
    width: 100%;
    padding-inline: vwmin(40, pc);
    padding-top: vwmin(120, pc);
    z-index: 1;
    margin-bottom: vwmin(120, pc);

    @include underSP {
        padding-top: vwmin(100, sp_m);
        padding-inline: vwmin(30, sp_m);
        margin-bottom: vwmin(100, sp_m);
        overflow: hidden;
    }

    .bl_newsSection_inner {
        display: grid;
        grid-template-columns: vwmin(155, pc) 1fr;
        gap: vwmin(108, pc);
        align-items: flex-start;

        @include underSP {
            display: block;
        }
    }

    .bl_newsttlWrapper {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: vwmin(50, pc);


        @include underSP {
            display: grid;
            grid-template-columns: auto auto;
            align-items: flex-end;
            justify-content: space-between;
            gap: vwmin(20, sp_m);
            width: 100%;
            margin-bottom: vwmin(50, sp_m);
        }

        .blcommonSectionTtlWrapper {

            .bl_commonAllviewBtnWrapper {
                width: fit-content;
            }
        }
    }

    .bl_topNewsItem {
        display: block;
        padding: vwmin(20, pc);
        border-inline: 1px solid #987F65;
        background-color: transparent;
        transition: background-color 0.5s ease;

        @include underSP {
            padding: vwmin(20, sp_m);
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #EFE7E0;
                transition: background-color 0.5s ease;
            }
        }

        .bl_topNewsItem_thumbnailWrapper {
            width: 100%;
            margin-bottom: vwmin(20, pc);

            @include underSP {
                margin-bottom: vwmin(20, sp_m);
            }

            .el_topNewsItem_thumbnailWrapper_img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .bl_topNewsItem_txtWrapper {

            .el_topNewsItem_txtWrapper_date {
                color: var(--txtColor);
                font-family: var(--OldSt);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.32 / 16 * 1em);

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }

            .el_topNewsItem_txtWrapper_ttl {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(16, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.6;
                letter-spacing: calc(0.8 / 16 * 1em);

                @include underSP {
                    font-size: vwmin(16, sp_m);
                }
            }
        }
    }

    .bl_newsSliderWrapper {
        width: 100%;

        @media (min-width: 768px) {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: flex-start;
            }
        }

        .swiper {
            @include underSP {
                overflow: visible;
            }
        }

        .swiper-wrapper {

            @include underSP {
                width: 100%;
            }

            .swiper-slide {
                @include underSP {
                    max-width: vwmin(260, sp_m);
                }
            }

            .swiper-slide:first-child {
                .bl_topNewsItem {
                    border-right: none;
                }
            }

            .swiper-slide:last-child {
                .bl_topNewsItem {
                    border-left: none;
                }
            }
        }
    }


}


/*--------------------------------
コンセプト
--------------------------------*/

.bl_conceptSection {
    width: 100%;
    background-color: #E5D8CD;
    padding-block: vwmin(120, pc);
    padding-inline: vwmin(40, pc);


    @include underSP {
        display: grid;
        grid-template-columns: 1fr;
        padding-block: vwmin(100, sp_m);
        padding-inline: vwmin(30, sp_m);
    }

    .bl_conceptSection_inner {
        display: grid;
        grid-template-columns: vwmin(650, pc) vwmin(400, pc);
        gap: vwmin(80, pc);
        align-items: center;

        @include underSP {
            display: contents;
        }
    }


    .bl_conceptSection_txtWrapper {

        @include underSP {
            display: contents;
        }

        .bl_commonSectionTtl {
            margin-bottom: vwmin(50, pc);

            @include underSP {
                margin-bottom: 0;
            }
        }

        .bl_conceptSection_txtContainer {

            @include underSP {
                order: 3;
            }


            .bl_conceptSection_copyWrapper {
                color: var(--txtColor);
                font-family: var(--notoSerifJP);
                font-size: vwmin(24, pc);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(1.2 / 24 * 1em);
                margin-bottom: vwmin(20, pc);
                margin-bottom: vwmin(30, pc);

                @include underSP {
                    margin-bottom: vwmin(30, sp_m);
                    width: fit-content;
                    margin-inline: auto;
                }

                .el_conceptSection_copyWrapper_main {
                    @include underSP {
                        font-size: vwmin(24, sp_m);
                        width: fit-content;
                        margin-inline: auto;
                    }
                }

                .el_conceptSection_copyWrapper_sub {
                    @include underSP {
                        font-size: vwmin(20, sp_m);
                        width: fit-content;
                        margin-inline: auto;
                        text-align: center;
                    }

                    .el_conceptSection_copyWrapper_sub_dash {
                        @include underSP {
                            display: none;
                        }
                    }

                    .el_conceptSection_copyWrapper_sub_br {
                        display: none;

                        @media (max-width: 768px) {
                            display: block;
                        }
                    }
                }

            }

            .bl_conceptSection_txtContainer {
                display: flex;
                flex-direction: column;
                gap: vwmin(30, pc);

                @include underSP {
                    gap: vwmin(30, sp_m);
                }

                .el_conceptSection_txt_txt {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.9;
                    letter-spacing: calc(0.8 / 16 * 1em);

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                    }
                }
            }

        }
    }

    .bl_conceptSection_imgWrapper {
        @include underSP {
            order: 2;
            max-width: vwmin(240, sp_m);
            margin-inline: auto;
            margin-bottom: vwmin(30, sp_m);
        }
    }

}

.bl_featuerSection {
    overflow: hidden;
    background-color: #F4EEEA;
    padding-top: vwmin(100, pc);
    padding-bottom: vwmin(120, pc);

    @include underSP {
        padding-block: vwmin(100, sp_m);
    }

    .bl_featuerSection_ttlWrapper {
        width: 100%;
        max-width: vwmin(1120, pc);
        margin-inline: auto;

        @include underSP {
            max-width: 100%;
            padding-inline: vwmin(30, sp_m);
        }


        .bl_featuerSection_ttl {
            color: var(--txtColor);
            text-align: center;
            font-family: var(--notoSerifJP);
            font-size: vwmin(24, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(1.2 / 24 * 1em);
            padding-block: vwmin(10, pc);
            border-block: 1px solid #987F65;
            margin-bottom: vwmin(30, pc);
            max-width: vwmax(1120, pc);
            margin-inline: auto;

            @include underSP {
                font-size: vwmin(24, sp_m);
                padding-block: vwmin(10, sp_m);
                margin-bottom: vwmin(30, sp_m);
            }
        }
    }

    .bl_featuerSection_listWrapper {
        max-width: vwmin(1120, pc);
        margin-inline: auto;

        @include underSP {
            max-width: 100%;
            padding-inline: 0;
            overflow: hidden;
        }

        .bl_featuerSection_list {
            // PC時はgridレイアウト
            display: block;
            overflow: visible;

            // SP時はSwiperスタイル
            @include underSP {
                padding-inline: vwmin(30, sp_m);
                overflow: hidden;
            }

            @media (min-width: 1024px) {
                .swiper-wrapper {
                    display: grid;
                    grid-template-columns: repeat(3, vwmin(334, pc));
                    justify-content: center;
                    align-items: start;
                    gap: vwmin(60, pc);
                }

                .swiper-slide {
                    display: grid;
                    grid-template-rows: subgrid;
                    grid-row: span 2;
                }
            }

            .swiper-wrapper {
                @include underSP {
                    display: flex;
                    width: 100%;
                }
            }

            .swiper-slide {
                @include underSP {
                    width: vwmin(334, sp_m);
                    flex-shrink: 0;
                }
            }

            .bl_featuerSection_list_item {
                display: grid;
                grid-template-rows: subgrid;
                grid-row: 2 span;
                gap: vwmin(20, pc);

                @include underSP {
                    grid-template-rows: auto;
                    grid-row: auto;
                    gap: vwmin(20, sp_m);

                }
            }

            .bl_featuerSection_list_item_imgWrapper {
                position: relative;
                border-radius: vwmin(10, pc);
                overflow: hidden;

                .el_featuerSection_list_item_imgWrapper_num {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-inline: vwmin(15, pc);
                    padding-block: vwmin(23, pc);
                    border-radius: 0 0 vwmin(10, pc) 0;
                    background-color: rgb(244, 238, 234);
                    color: var(--dark-brown, #402D10);
                    font-family: var(--OldSt);
                    font-size: vwmin(34, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    z-index: 1;
                    letter-spacing: calc(0.68 / 34 * 1em);

                    @include underSP {
                        font-size: vwmin(34, sp_m);
                        padding-inline: vwmin(15, sp_m);
                        padding-block: vwmin(23, sp_m);
                        border-radius: 0 0 vwmin(10, sp_m) 0;
                    }
                }
            }


            .bl_featuerSection_list_item_txtWrapper {

                .el_featuerSection_list_item_ttl {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(18, pc);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.8;
                    letter-spacing: calc(0.9 / 18 * 1em);
                    margin-bottom: vwmin(10, pc);

                    @include underSP {
                        font-size: vwmin(18, sp_m);
                        margin-bottom: vwmin(10, sp_m);
                    }
                }

                .el_featuerSection_list_item_txt {
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(16, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8;
                    letter-spacing: calc(0.8 / 16 * 1em);

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                    }
                }
            }
        }
    }
}


/*--------------------------------
Column
--------------------------------*/
.bl_topColumnSection {
    overflow: hidden;
    padding-bottom: vwmin(120, pc);

    @include underSP {
        padding-bottom: vwmin(100, sp_m);
    }

    .bl_topSection_inner {
        @include underSP {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            align-items: flex-end;
            row-gap: vwmin(50, sp_m);
        }
    }

    .bl_topColumnSection_ttlWrapper {
        display: grid;
        grid-template-columns: auto vwmin(112, pc);
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: vwmin(50, pc);

        @include underSP {
            display: contents;
        }

        .bl_commonSectionTtl {
            width: fit-content;

            @include underSP {
                order: 1;
            }
        }

        .bl_topColumnSection_sliderNaviWrapper {
            display: grid;
            grid-template-columns: repeat(2, vwmin(46, pc));
            gap: vwmin(10, pc);

            @include underSP {
                display: none;
            }

            .el_topColumnSection_sliderNaviWrapper_btn {
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                display: grid;
                grid-template-columns: vwmin(21, pc);
                justify-content: center;
                align-items: center;
                border: 1px solid #987F65;
                background-color: transparent;
                cursor: pointer;
                transition: background-color 0.5s ease;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: #987F65;
                        transition: background-color 0.5s ease;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }


    .bl_topColumnSection_sliderWrapper {
        margin-bottom: vwmin(50, pc);

        @include underSP {
            order: 3;
            margin-bottom: 0;
            grid-column: 2 span;
        }

        .bl_topColumnSection_slider {
            overflow: visible;
            width: 100%;

            .swiper-wrapper {
                max-width: vwmin(520, pc);
                width: 100%;

                @include underSP {
                    max-width: 100%;
                }
            }
        }

        .swiper-slide {
            @include underSP {
                max-width: vwmin(286, sp_m);
                height: auto;
            }
        }

        .bl_columnBtnItem {
            .bl_columnBtnItem_inner {
                display: grid;
                grid-template-columns: vwmin(140, pc) 1fr;
                gap: vwmin(24, pc);
                width: 100%;
                padding: vwmin(20, pc);
                border-radius: vwmin(4, pc);
                background-color: #E5D8CD;
                transition: opacity 0.5s ease;

                @include underSP {
                    display: flex;
                    flex-direction: column;
                    gap: vwmin(24, sp_m);
                    padding: vwmin(20, sp_m);
                    height: 100%;
                }

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }

                .bl_columnBtnItem_imgWrapper {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    height: auto;

                    @include underSP {
                        max-width: vwmin(170, sp_m);
                        margin-inline: auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .bl_columnBtnItem_txtWrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @include underSP {
                        height: 100%;
                    }

                    .bl_columnBtnItem_postInfoWrapper {
                        display: grid;
                        grid-template-columns: min-content 1fr;
                        gap: vwmin(20, pc);
                        align-items: flex-start;
                        margin-bottom: vwmin(10, pc);

                        @include underSP {
                            grid-template-columns: 1fr;
                            gap: vwmin(4, sp_m);
                            margin-bottom: vwmin(10, sp_m);
                        }

                        .el_columnBtnItem_postInfoWrapper_date {
                            color: var(--black, #1A0F04);
                            font-family: var(--OldSt);
                            font-size: vwmin(16, pc);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: calc(0.48 / 16 * 1em);
                            width: fit-content;
                            padding-top: vwmin(2, pc);

                            @include underSP {
                                font-size: vwmin(16, sp_m);
                                padding-top: 0;
                            }
                        }


                        .bl_columnBtnItem_postInfoWrapper_cats {
                            display: flex;
                            flex-wrap: wrap;
                            gap: vwmin(10, pc);
                            width: fit-content;

                            @include underSP {
                                gap: vwmin(4, sp_m);
                            }

                            .el_columnBtnItem_postInfoWrapper_cats_cat {
                                display: block;
                                color: var(--black, #1A0F04);
                                font-family: var(--notoSerifJP);
                                font-size: vwmin(12, pc);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.6;
                                letter-spacing: calc(0.6 / 12 * 1em);
                                padding-block: vwmin(2, pc);
                                padding-inline: vwmin(8, pc);
                                border-radius: vwmin(2, pc);
                                background-color: #F4EEEA;

                                @include underSP {
                                    font-size: vwmin(12, sp_m);
                                    padding-block: vwmin(2, sp_m);
                                    padding-inline: vwmin(4, sp_m);
                                    border-radius: vwmin(2, sp_m);
                                }
                            }

                        }
                    }

                    .el_columnBtnItem_txtWrapper_ttl {
                        color: var(--txtColor);
                        font-family: var(--notoSerifDisplay);
                        font-size: vwmin(16, pc);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.6;
                        letter-spacing: calc(0.8 / 16 * 1em);

                        @include underSP {
                            font-size: vwmin(16, sp_m);
                        }
                    }

                    .bl_columnBtnItem_txtWrapper_arrow {
                        display: block;
                        width: 100%;
                        max-width: vwmin(26, pc);
                        margin-left: auto;

                        @include underSP {
                            max-width: vwmin(26, sp_m);
                        }

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }



    .bl_topColumnSection_btnWrapper {
        width: fit-content;
        margin-inline: auto;

        @include underSP {
            order: 2;
            margin-left: auto;
            margin-right: 0;
        }
    }
}



/*--------------------------------
Instagram
--------------------------------*/

.bl_topSnsSection {
    padding-bottom: vwmin(120, pc);
    padding-inline: vwmin(40, pc);

    @include underSP {
        padding-bottom: vwmin(100, sp_m);
        padding-inline: vwmin(30, sp_m);
    }


    .bl_topInstagramContainer {
        max-width: vwmin(1100, pc);
        margin-inline: auto;
        padding: vwmin(10, pc);
        border-radius: vwmin(6, pc);
        background-color: #ECDCCF;
        margin-bottom: vwmin(50, pc);

        @include underSP {
            max-width: 100%;
            padding: vwmin(10, sp_m);
            border-radius: vwmin(6, sp_m);
            margin-bottom: vwmin(30, sp_m);
        }

        .bl_topInstagramContainer_inner {
            display: grid;
            grid-template-columns: vwmin(303, pc) vwmin(502, pc);
            gap: vwmin(80, pc);
            align-items: center;
            justify-content: center;
            border-radius: vwmin(6, pc);
            border: 1px solid var(--line, #987F65);
            background-color: #ECDCCF;
            padding-block: vwmin(30, pc);

            @include underSP {
                grid-template-columns: 1fr;
                gap: vwmin(30, sp_m);
                padding-block: vwmin(40, sp_m);
            }

            .bl_topInstagramContainer_ttlWrapper {

                .el_topInstagramContainer_ttl {
                    color: var(--black, #1A0F04);
                    font-family: var(--notoSerifDisplay);
                    font-size: vwmin(48, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: calc(1.2 / 60 * 1em);
                    width: fit-content;
                    margin-inline: auto;
                    margin-block: var(--leading-trim);
                    margin-block-end: calc(vwmin(30, pc) + var(--leading-trim));

                    @include underSP {
                        font-size: vwmin(40, sp_m);
                        margin-block-end: calc(vwmin(30, sp_m) + var(--leading-trim));
                    }
                }

            }

            .bl_topInstagramContainer_instagramWrapper {

                #sb_instagram{
                    padding-bottom: 0 !important;

                    #sbi_images{
                        padding: 0 !important;
                    }
                }

                @include underSP {
                    overflow-x: auto;
                    width: calc(100% - 10px * 2);
                    margin-inline: auto;
                }

                @include underSP {
                    #sb_instagram {
                        width: vwmin(520, sp_m) !important;
                    }
                }

            }



        }
    }


    .bl_topSnsSection_otherSnsWrapper {

        .el_topSnsSection_otherSnsWrapper_ttl {
            color: var(--black, #1A0F04);
            width: fit-content;
            margin-inline: auto;
            font-family: var(--notoSerifJP);
            font-size: vwmin(18, pc);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.9 / 18 * 1em);
            margin-bottom: vwmin(16, pc);

            @include underSP {
                font-size: vwmin(18, sp_m);
                margin-bottom: vwmin(16, sp_m);
            }
        }

        .bl_topSnsSection_otherSnsWrapper_snsList {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: vwmin(30, pc);

            @include underSP {
                gap: vwmin(30, sp_m);
            }

            .bl_topSnsSection_otherSnsWrapper_snsbtn {
                display: block;
                width: 100%;
                aspect-ratio: 1 / 1;
                height: auto;
                max-width: vwmin(26, pc);
                width: 100%;
                transition: opacity 0.5s ease;

                @include underSP {
                    max-width: vwmin(26, sp_m);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }
    }
}

/*--------------------------------
施術メニュー
--------------------------------*/

.bl_topMenuSection {
    overflow: hidden;
    width: 100%;
    background-color: #F4EEEA;
    padding-block: vwmin(120, pc);

    @include underSP {
        padding-block: vwmin(100, sp_m);
    }

    .bl_topMenuSection_inner {
        display: flex;
        flex-direction: column;
        gap: vwmin(120, pc);

        @include underSP {
            gap: vwmin(120, sp_m);
        }



        .bl_topMenuSection_item {

            .bl_topMenuSection_item_ttlWrapper {
                display: grid;
                grid-template-columns: 1fr auto;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: vwmin(50, pc);

                @include underSP {
                    margin-bottom: vwmin(50, sp_m);
                }
            }

            .bl_topSection_treatmentContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: vwmin(30, pc);

                @include underSP {
                    grid-template-columns: 1fr;
                    gap: vwmin(30, sp_m);
                }


                .bl_treatmentBtnItem {
                    display: contents;

                    .bl_treatmentBtnItem_btn {
                        display: block;
                        display: grid;
                        grid-template-columns: 1fr .2fr;
                        padding: vwmin(24, pc);
                        border-radius: vwmin(10, pc);
                        overflow: hidden;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        transition: opacity 0.5s ease;

                        @include underSP {
                            padding: vwmin(24, sp_m);
                            border-radius: vwmin(10, sp_m);
                        }

                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 0.7;
                                transition: opacity 0.5s ease;
                            }
                        }

                        .bl_treatmentBtnItem_btn_inner {
                            display: flex;
                            flex-direction: column;
                            gap: vwmin(37, pc);
                            justify-content: space-between;

                            @include underSP {
                                gap: vwmin(37, sp_m);
                            }

                            .bl_treatmentBtnItem_btn_inner_upper {

                                .el_topMenuSection_item_txtWrapper_ttl {
                                    color: var(--txtColor);
                                    font-family: var(--notoSerifDisplay);
                                    font-size: vwmin(32, pc);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    letter-spacing: calc(0.64 / 32 * 1em);
                                    margin-block-end: calc(vwmin(16, pc) + var(--leading-trim));

                                    @include underSP {
                                        font-size: vwmin(28, sp_m);
                                        margin-block-end: calc(vwmin(16, sp_m) + var(--leading-trim));
                                    }
                                }

                                .el_topMenuSection_item_txtWrapper_txt {
                                    color: var(--txtColor);
                                    font-family: var(--notoSerifJP);
                                    font-size: vwmin(12, pc);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    letter-spacing: calc(0.6 / 12 * 1em);

                                    @include underSP {
                                        font-size: vwmin(12, sp_m);
                                    }
                                }
                            }

                            .bl_treatmentBtnItem_btn_inner_arrow {
                                display: grid;
                                grid-template-columns: max-content vwmin(8, pc);
                                background-color: #FFF;
                                align-items: center;
                                width: fit-content;
                                gap: vwmin(10, pc);
                                border-radius: vwmin(100, pc);
                                padding-inline: vwmin(20, pc);
                                padding-block: vwmin(8, pc);


                                @include underSP {
                                    grid-template-columns: max-content vwmin(8, sp_m);
                                    padding-inline: vwmin(20, sp_m);
                                    padding-block: vwmin(8, sp_m);
                                    border-radius: vwmin(100, sp_m);
                                }

                                .el_treatmentBtnItem_btn_inner_arrow_txt {
                                    color: var(--txtColor);
                                    font-family: var(--notoSerifJP);
                                    font-size: vwmin(12, pc);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    letter-spacing: calc(0.6 / 12 * 1em);
                                    width: fit-content;

                                    @include underSP {
                                        font-size: vwmin(12, sp_m);
                                    }
                                }

                            }
                        }
                    }
                }
            }


            .bl_topConcernContainer {

                @media (min-width: 1024px) {
                    .swiper-wrapper {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: vwmin(30, pc);
                    }

                }

                .bl_concernItem {
                    height: 100%;
                    background-color: #FFFBF8;
                    overflow: hidden;
                    border-radius: vwmin(4, pc);

                    @include underSP {
                        border-radius: vwmin(4, sp_m);
                    }

                    .bl_concernItem_upper {
                        display: grid;
                        grid-template-columns: vwmin(50, pc) auto;
                        gap: vwmin(10, pc);
                        align-items: center;
                        padding-block: vwmin(10, pc);
                        padding-inline: vwmin(14, pc);
                        background-color: #E5D8CD;
                        width: 100%;

                        @include underSP {
                            grid-template-columns: vwmin(50, sp_m) auto;
                            gap: vwmin(10, sp_m);
                            padding-block: vwmin(10, sp_m);
                            padding-inline: vwmin(14, sp_m);
                        }


                        .bl_concernItem_upper_imgWrapper {
                            display: grid;
                            grid-template-columns: vwmin(30, pc);
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            background-color: #987F65;
                            aspect-ratio: 1 / 1;
                            padding: vwmin(7, pc);

                            @include underSP {
                                grid-template-columns: vwmin(30, sp_m);
                                padding: vwmin(7, sp_m);
                            }


                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .bl_concernItem_upper_txtWrapper {
                            display: flex;
                            flex-direction: column;

                            .el_concernItem_upper_txtWrapper_txtEn {
                                color: var(--line, #987F65);
                                font-family: var(--OldSt);
                                font-size: vwmin(14, pc);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1;
                                margin-block: var(--leading-trim);
                                letter-spacing: calc(0.28 / 14 * 1em);

                                @include underSP {
                                    font-size: vwmin(14, sp_m);
                                }
                            }

                            .el_concernItem_upper_txtWrapper_txtJa {
                                color: var(--txtColor);
                                font-family: var(--notoSerifJP);
                                font-size: vwmin(18, pc);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.5;
                                letter-spacing: calc(0.9 / 18 * 1em);

                                @include underSP {
                                    font-size: vwmin(18, sp_m);
                                }
                            }
                        }
                    }

                    .bl_concernItem_lower {
                        padding-block: vwmin(20, pc);
                        padding-inline: vwmin(14, pc);

                        @include underSP {
                            padding-block: vwmin(20, sp_m);
                            padding-inline: vwmin(14, sp_m);
                        }

                        .bl_concernItem_postList {
                            display: flex;
                            flex-direction: column;
                            gap: vwmin(16, pc);

                            @include underSP {
                                gap: vwmin(16, sp_m);
                            }

                            .bl_concernItem_postList_item {

                                .bl_concernItem_postList_item_btn {
                                    display: grid;
                                    grid-template-columns: 1fr vwmin(11, pc);
                                    align-items: center;
                                    gap: vwmin(10, pc);
                                    padding-bottom: vwmin(6, pc);
                                    border-bottom: 1px solid #E5D8CD;
                                    transition: opacity 0.5s ease;

                                    @include underSP {
                                        grid-template-columns: 1fr vwmin(11, sp_m);
                                        gap: vwmin(10, sp_m);
                                        padding-bottom: vwmin(6, sp_m);
                                    }

                                    @media (any-hover: hover) {
                                        &:hover {
                                            opacity: 0.7;
                                            transition: opacity 0.5s ease;
                                        }
                                    }

                                    .el_concernItem_postList_item_btn_txt {
                                        width: 100%;
                                        color: var(--txtColor);
                                        font-family: var(--notoSerifJP);
                                        font-size: vwmin(16, pc);

                                        @include underSP {
                                            font-size: vwmin(16, sp_m);
                                        }
                                    }

                                    .el_concernItem_postList_item_btn_arrow {
                                        display: block;
                                        width: 100%;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .bl_topConcernSwiper {
                @include underSP {
                    overflow: visible;

                    .swiper-slide {
                        height: auto;
                        max-width: vwmin(286, sp_m) !important;
                        width: 100%;
                    }
                }
            }
        }
    }
}


/*--------------------------------
Case
--------------------------------*/

.bl_topCaseSection {
    padding-block: vwmin(calc(120 + 70), pc);
    background-color: #E5D8CD;

    @include underSP {
        padding-top: vwmin(100, sp_m);
        padding-bottom: vwmin(180, sp_m);
    }

    .bl_topCaseSection_ttlWrapper {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: vwmin(50, pc);

        @include underSP {
            margin-bottom: vwmin(50, sp_m);
        }
    }


    .bl_caseSliderWrapper_slider {

        .splide__track {
            transition-timing-function: linear !important;
        }

        .splide__slide {
            width: vwmin(258, pc) !important;

            @include underSP {
                width: vwmin(258, sp_m) !important;
            }
        }
    }
}