@use '../foundation/function/index' as *;

.ly_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(244, 238, 234, 0.60);
    padding-inline: vwmin(40, pc);
    padding-block: vwmin(24, pc);

    @include underSP {
        padding: vwmin(20, sp_m);
    }


    .bl_header_inenr {
        display: grid;
        grid-template-columns: vwmin(114, pc) auto;
        justify-content: space-between;
        align-items: center;
        gap: vwmin(20, pc);

        @include underSP {
            grid-template-columns: vwmin(114, sp_m) auto;
        }
    }
}


.bl_header_logoWrapper {
    display: block;
    width: 100%;
}

.bl_header_navWrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: vwmin(30, pc);

    @include underSP {
        gap: vwmin(20, sp_m);
        grid-template-columns: auto vwmin(36, sp_m);
    }


    .bl_header_navWrapper_nav {

        @include underSP {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #F4EEEA;
            z-index: -1;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            display: none;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        .bl_header_navWrapper_nav_inner {
            @include underSP {
                padding-top: vwmin(120, sp_m);
                padding-inline: vwmin(20, sp_m);
                padding-bottom: vwmin(50, sp_m);
            }
        }

        .bl_header_navWrapper_nav_btnWrapper {
            display: grid;
            grid-template-columns: repeat(10, auto);
            gap: vwmin(32, pc);
            align-items: center;

            @include underSP {
                grid-template-columns: repeat(2, auto);
                align-items: flex-start;
                row-gap: vwmin(28, sp_m);
                column-gap: vwmin(80, sp_m);
            }

            .bl_header_navWrapper_hoverContainer {
                position: relative;

                @include underSP {
                    grid-column: span 2;
                }

                .bl_header_navWrapper_hoverContainer_linkContainer {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) translateY(130%);
                    display: flex;
                    flex-direction: column;
                    gap: vwmin(10, pc);
                    width: fit-content;
                    margin-inline: auto;
                    background-color: rgba(244, 238, 234, 0.60);
                    padding: vwmin(10, pc);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;

                    @include underSP {
                        position: relative;
                        bottom: auto;
                        left: auto;
                        transform: translateX(0) translateY(0);
                        opacity: 1;
                        visibility: visible;
                        gap: vwmin(10, sp_m);
                        padding: 0;
                        padding-left: vwmin(10, sp_m);
                        margin-inline: 0;
                        margin-top: vwmin(20, sp_m);
                        border-left: 1px solid var(--txtColor);
                    }

                    .bl_header_navWrapper_hoverContainer_linkContainer_link {
                        display: grid;
                        grid-template-columns: auto vwmin(9, pc);
                        align-items: center;
                        justify-content: space-between;
                        gap: vwmin(10, pc);
                        width: vwmin(170, pc);
                        transition: opacity 0.3s ease;

                        @include underSP {
                            width: auto;
                            grid-template-columns: auto;
                            gap: vwmin(16, sp_m);
                            width: fit-content;
                        }

                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 0.7;
                                transition: opacity 0.3s ease;
                            }
                        }

                        .el_header_navWrapper_hoverContainer_linkContainer_link_txt {
                            color: var(--black, #1A0F04);
                            font-family: var(--notoSerifJP);
                            font-size: vwmin(14, pc);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1;
                            letter-spacing: 0.7px;

                            @include underSP {
                                font-size: vwmin(14, sp_m);
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: auto;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }
                        }

                        img {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 1/1;
                            object-fit: contain;

                            @include underSP {
                                display: none;
                            }
                        }
                    }
                }
            }

            .bl_header_navBtn {
                display: block;
                width: 100%;
                padding: 0;
                background-color: transparent;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;

                @include underSP {
                    width: fit-content;
                }


                .el_header_navBtn_en {
                    display: block;
                    color: var(--txtColor);
                    text-align: center;
                    text-transform: uppercase;
                    font-family: var(--libreBaskerville);
                    font-size: vwmin(14, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(0.84 / 15 * 1em);
                    width: fit-content;
                    margin-inline: auto;
                    margin-block-end: calc(vwmin(4, pc) + var(--leading-trim));
                    transition: color 0.3s ease;

                    @include underSP {
                        font-size: vwmin(16, sp_m);
                        margin-inline: 0;
                        margin-block-end: calc(vwmin(6, sp_m) + var(--leading-trim));
                    }

                }

                .el_header_navBtn_ja {
                    display: block;
                    color: var(--txtColor);
                    font-family: var(--notoSerifJP);
                    font-size: vwmin(12, pc);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(0.6 / 12 * 1em);
                    width: fit-content;
                    margin-inline: auto;
                    text-align: center;
                    transition: color 0.3s ease;

                    @include underSP {
                        font-size: vwmin(12, sp_m);
                        text-align: left;
                        margin-inline: 0;
                    }
                }


                @media (any-hover: hover) {
                    &:hover {
                        .el_header_navBtn_en {
                            color: #987F65;
                            transition: color 0.3s ease;
                        }

                        .el_header_navBtn_ja {
                            color: #987F65;
                            transition: color 0.3s ease;
                        }
                    }
                }
            }
        }

        .bl_header_reeserveSpBtnWrapper {
            display: none;

            @include underSP {
                display: flex;
                flex-direction: column;
                gap: vwmin(20, sp_m);
                padding-top: vwmin(50, sp_m);
            }
        }

        .bl_headerNavSnsIconContainerSp {
            display: none;

            @include underSP {
                display: flex;
                padding-top: vwmin(50, sp_m);

            }
        }
    }

    .bl_headerSpNavBtnWrapper {
        display: none;

        @include underSP {
            $transition-easeing: cubic-bezier(0, 0, 0.59, 0.85);
            display: block;

            .bl_headerSpNavBtnWrapper_btn {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                border: none;
                background-color: transparent;
                padding: 0;

                .el_headerSpNavBtnWrapper_btn_line {
                    position: absolute;
                    top: 50%;
                    translate: -50% -50%;
                    width: 100%;
                    height: 1px;
                    background-color: var(--txtColor);


                    &:first-child {
                        top: 40%;
                        left: 50%;
                        translate: -50% -50%;
                        transition: rotate 0.3s $transition-easeing , top 0.2s $transition-easeing;
                    }

                    &:last-child {
                        right: 0;
                        top: 60%;
                        translate: 0 -50%;
                        width: 50%;
                        transition: width 0.2s $transition-easeing .3s, rotate 0.3s $transition-easeing ;

                    }
                }
            }

            .is-active {
                .el_headerSpNavBtnWrapper_btn_line {
                    &:first-child {
                        rotate: 20deg;
                        left: 50%;
                        top: 50%;
                        translate: -50% -50%;
                        transition: rotate 0.2s $transition-easeing .2s, top 0.2s $transition-easeing .2s;
                    }

                    &:last-child {
                        right: 50%;
                        top: 50%;
                        rotate: -20deg;
                        translate: 50% -50%;
                        width: 100%;
                        transform-origin: center;
                        transition: width 0.2s $transition-easeing, rotate 0.2s $transition-easeing .2s, top 0.2s $transition-easeing .2s, ;
                    }
                }

            }
        }
    }
}

.gtranslate_wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;

    &::before {
        content: '/';
        color: #6F6D6D;
        width: fit-content;
        font-family: var(--libreBaskerville);
        font-size: vwmin(14, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(0.84 / 14 * 1em);
        text-transform: uppercase;
        order: 2;

        @include underSP {
            font-size: vwmin(14, sp_m);
        }
    }


    a {
        color: var(--txtColor);
        text-align: center;
        width: fit-content;
        font-family: var(--libreBaskerville);
        font-size: vwmin(14, pc);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(0.84 / 14 * 1em);
        text-transform: uppercase;

        @media (any-hover: hover) { 
            &:hover {
                opacity: 0.7;
                transition: opacity 0.3s ease;
            }
        }

        @include underSP {
            font-size: vwmin(14, sp_m);
        }

        :last-child {
            order: 1;
        }

        &:first-child {
            order: 3;
        }
    }

    a.glink.gt-current-lang {
        font-weight: 400;
        color: #6F6D6D;
    }
}


//-----fixed container-----
.bl_header_fixedContainer {
    position: fixed;
    bottom: vwmin(30, pc);
    right: vwmin(30, pc);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    gap: vwmin(12, pc);
    width: fit-content;

    @include underSP {
        bottom: calc(vwmin(20, sp_m) + env(safe-area-inset-bottom));
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-inline: vwmin(10, sp_m);
    }


    .bl_header_fixedContainer_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: vwmin(8, pc);
        background-color: #FFF;
        min-width: vwmin(90, pc);
        width: 100%;
        border-radius: vwmin(30, pc);
        transition: background-color 0.3s ease;

        @include underSP {
            min-width: vwmin(90, sp_m);
            border-radius: vwmin(4, sp_m);
        }

        .bl_header_fixedContainer_btn_inner {
            padding-top: vwmin(21, pc);
            padding-bottom: vwmin(16, pc);


            @include underSP {
                display: grid;
                grid-template-columns: vwmin(17, sp_m) auto;
                justify-content: center;
                align-items: center;
                gap: vwmin(8, sp_m);
                padding-block: vwmin(16, sp_m);
            }


            .bl_header_fixedContainer_btn_icon {
                max-width: vwmin(26, pc);
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                margin-inline: auto;
                margin-bottom: vwmin(4, pc);

                @include underSP {
                    max-width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: vwmin(4, pc);
                }

                .el_header_fixedContainer_btn_icon_svg {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    path {
                        fill: #402D10;
                        transition: fill 0.3s ease;
                    }
                }
            }

            .el_header_fixedContainer_btn_txt {
                width: fit-content;
                margin-inline: auto;
                display: block;
                color: var(--dark-brown, #402D10);
                text-align: center;
                font-family: var(--notoSerifJP);
                font-size: vwmin(14, pc);
                font-style: normal;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: calc(0.7 / 14 * 1em);
                transition: color 0.3s ease;

                @include underSP {
                    font-size: vwmin(14, sp_m);
                }
            }
        }


        @media (any-hover: hover) {
            &:hover {
                background-color: #402D10;
                transition: background-color 0.3s ease;

                .el_header_fixedContainer_btn_txt {
                    color: #FFF;
                    transition: color 0.3s ease;

                }

                .bl_header_fixedContainer_btn_icon {

                    .el_header_fixedContainer_btn_icon_svg {


                        path {
                            fill: #FFF;
                            transition: fill 0.3s ease;
                        }
                    }
                }
            }
        }
    }


    .bl_header_fixedContainer_btn_brown {
        background-color: #402D10;

        .bl_header_fixedContainer_btn_inner {

            .bl_header_fixedContainer_btn_icon {

                .el_header_fixedContainer_btn_icon_svg {

                    path {
                        fill: #FFF;
                    }
                }
            }

            .el_header_fixedContainer_btn_txt {

                color: #FFF;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #FFF;

                .el_header_fixedContainer_btn_txt {
                    color: #402D10;
                }

                .bl_header_fixedContainer_btn_icon {

                    .el_header_fixedContainer_btn_icon_svg {
                        path {
                            fill: #402D10;
                        }
                    }
                }
            }
        }
    }
}