@use 'size' as *;
@use 'mq' as *;
@mixin hover_nomal {
  transition: 0.5s ease;
  &:hover{
      opacity: 0.7;
  }
}

// レスポンシブ対応のサイズ設定ミックスイン
// 使用例: @include responsive-size(font-size, 16, 14, 14);
//         @include responsive-size(padding, 40, 30, 20);
@mixin responsive-size($property, $pc, $tb: null, $sp: null, $min: null, $max: null) {
  @if $tb == null {
    $tb: $pc;
  }
  @if $sp == null {
    $sp: $tb;
  }

  #{$property}: vwmin($pc, 'pc', $base: null, $min: $min, $max: $max);
  
  @include underSP {
    #{$property}: vwmin($tb, 'tb', $base: null, $min: $min, $max: $max);
  }
}


@mixin post_mt {
  margin-top: vwmin(40, pc);
  @include underSP {
      margin-top: vwmin(40, sp);
  }
}
