// @mixin mobile/tablet/pc
// ==================================================
@mixin underSP_s {
  @media screen and (width <=375px) {
    @content;
  }
}

@mixin underSP_m {
  @media screen and (width <=600px) {
    @content;
  }
}

@mixin underSP {
  @media screen and (width <=767px) {
    @content;
  }
}

@mixin underTB {
  @media screen and (width <=1024px) {
    @content;
  }
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
