:root {
    --notoSansJP: 'Noto Sans JP', sans-serif;
    --notoSerifJP: 'Noto Serif JP', serif;
    --notoSerifDisplay: 'Noto Serif Display', serif;
    --libreBaskerville: 'Libre Baskerville', serif;
    --OldSt: 'Old Standard TT', serif;
    --txtColor: #1A0F04;
    --leading-trim: 0;
}

@supports (height: 1lh) {
    :root {
        --leading-trim: calc((1em - 1lh) / 2);
    }
}
